<template>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-logo">
          <!-- Footer logo -->
          <a class="footer-brand" href="#">
            <p><img src="../../../assets/images/landing/logo-md.png" alt="App ollo"> EasyGram</p>
          </a>
        </div>
        <div class="col-md-4 footer-social">
          <!-- Footer social icons -->
          <div>
            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://t.me/joinchat/AAAAAE_Dh5q_ZUROdQDSSw" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>


          </div>
        </div>
        <div class="col-md-4 copyright">
          <!-- Footer copyright -->
          <p>Copyright © early 2018 EASYGRAM all right reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>

export default {
  name: 'Footer',
};
</script>

<style scoped src="../../../assets/css/landing/bootstrap.min.css"></style>
<style scoped src="../../../assets/css/landing/animations.css"></style>
<style scoped src="../../../assets/css/landing/font-awesome.min.css"></style>
<style scoped src="../../../assets/css/landing/animate.css"></style>
<style scoped src="../../../assets/css/landing/lity.css"></style>
<style scoped src="../../../assets/css/landing/style.css"></style>
<style scoped src="../../../assets/css/landing/media-queries.css"></style>
<style scoped src="../../../assets/css/landing/color/cyan.css"></style>

