<template>
  <nav id="navigation" class="navbar no-scrolled">
    <div class="container">
      <div class="navbar-header">
        <!-- Burger menu button -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="burger-menu">
                        <span class="burger"></span>
                    </span>
        </button>
        <!-- Burger menu button end-->
        <!-- Header logo -->
        <a class="navbar-brand" href="/">
          <h3><img src="../../../assets/images/landing/logo-md.png" alt="EasyGram"> EasyGram</h3>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!-- Navigation links -->
          <li class="active"><a href="/#top">Home</a></li>
          <li><a href="/#start">About</a></li>
          <li><a href="/#features">Features</a></li>
          <!--<li><a href="#screenshots">Screenshots</a></li>-->
          <li><a href="/#reviews">Reviews</a></li>
          <li><a href="/#faq">FAQ</a></li>
          <!--<li><a href="blog.html">Blog</a></li>-->
          <!-- Navigation links end-->
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navigation',
};
</script>

<style scoped>
  .container {
    flex: inherit;
    padding: initial;
  }
  @media only screen and (max-width: 599px) {
    .container {
      padding: initial;
    }
  }
</style>

<style scoped src="../../../assets/css/landing/bootstrap.min.css"></style>
<style scoped src="../../../assets/css/landing/animations.css"></style>
<style scoped src="../../../assets/css/landing/font-awesome.min.css"></style>
<style scoped src="../../../assets/css/landing/animate.css"></style>
<style scoped src="../../../assets/css/landing/lity.css"></style>
<style scoped src="../../../assets/css/landing/style.css"></style>
<style scoped src="../../../assets/css/landing/media-queries.css"></style>
<style scoped src="../../../assets/css/landing/color/cyan.css"></style>

