/* -------------------------------------------

	Name: 		App ollo
	Author:		"Miller Digital Design" Nazar Miller
    Support:    miller.themes@gmail.com
	   		   
--------------------------------------------- */

.preloader,
.download,
.video,
.stats,
.features .future h4 i,
header,
.theme-background,
.team-item,
.panel-heading,
.waves .circle,
.scrolled,
.blog-item,
.color,
.optimal,
.masc,
.header-masc,
.pagination .active a {
    background: linear-gradient(45deg, hsla(173, 92%, 43%, 1) 0%, hsla(173, 92%, 43%, 0) 70%),
    linear-gradient(135deg, hsla(200, 95%, 50%, 1) 10%, hsla(200, 95%, 50%, 0) 80%),
    linear-gradient(225deg, hsla(172, 91%, 44%, 1) 10%, hsla(172, 91%, 44%, 0) 80%),
    linear-gradient(315deg, hsla(203, 99%, 41%, 1) 100%, hsla(203, 99%, 41%, 0) 70%);
}

@media (max-width: 992px) {
    .navbar,
    .navbar-collapse {
        background: linear-gradient(45deg, hsla(173, 92%, 43%, 1) 0%, hsla(173, 92%, 43%, 0) 70%),
        linear-gradient(135deg, hsla(200, 95%, 50%, 1) 10%, hsla(200, 95%, 50%, 0) 80%),
        linear-gradient(225deg, hsla(172, 91%, 44%, 1) 10%, hsla(172, 91%, 44%, 0) 80%),
        linear-gradient(315deg, hsla(203, 99%, 41%, 1) 100%, hsla(203, 99%, 41%, 0) 70%);
    }
}

h4 .color {
    background-color: hsla(173, 92%, 43%, 1);
}

::-webkit-scrollbar-thumb {
    background: hsla(173, 92%, 43%, 1);
}

/*** transparent gradient ***/

.header-masc,
.masc {
    background: linear-gradient(45deg, hsla(173, 92%, 43%, .5) 0%, hsla(173, 92%, 43%, 0) 70%),
    linear-gradient(135deg, hsla(200, 95%, 50%, .5) 10%, hsla(200, 95%, 50%, 0) 80%),
    linear-gradient(225deg, hsla(172, 91%, 44%, .5) 10%, hsla(172, 91%, 44%, 0) 80%),
    linear-gradient(315deg, hsla(203, 99%, 41%, .5) 100%, hsla(203, 99%, 41%, 0) 70%);
}
