/* -------------------------------------------

	Name: 		App ollo
	Author:		"Miller Digital Design" Nazar Miller
    Support:    miller.themes@gmail.com
	   		   
--------------------------------------------- */

.preloader,
.download,
.video,
.stats,
.features .future h4 i,
header,
.theme-background,
.team-item,
.panel-heading,
.waves .circle,
.scrolled,
.blog-item,
.color,
.optimal,
.masc,
.header-masc,
.pagination .active a {
    background: #263238;
}

@media (max-width: 992px) {
    .navbar,
    .navbar-collapse {
         background: #263238;
    }
}

h4 .color {
    background-color: hsl(35, 100%, 60%);
}

::-webkit-scrollbar-thumb {
    background: #263238;
}

/*** transparent gradient ***/

.header-masc,
.masc {
    background: #00000000;
}


.masc2{
    background-color: #263238;

}