/* -------------------------------------------

	Name: 		App ollo
	Author:		"Miller Digital Design" Nazar Miller
    Support:    miller.themes@gmail.com
	   		   
--------------------------------------------- */

.preloader,
.download,
.video,
.stats,
.features .future h4 i,
header,
.theme-background,
.team-item,
.panel-heading,
.waves .circle,
.scrolled,
.blog-item,
.color,
.optimal,
.masc,
.header-masc,
.pagination .active a {
    background: linear-gradient(45deg, hsla(148, 92%, 41%, 1) 0%, hsla(148, 92%, 41%, 0) 70%),
    linear-gradient(135deg, hsla(137, 97%, 55%, 1) 10%, hsla(137, 97%, 55%, 0) 80%),
    linear-gradient(225deg, hsla(162, 100%, 41%, 1) 10%, hsla(162, 100%, 41%, 0) 80%),
    linear-gradient(315deg, hsla(141, 98%, 42%, 1) 100%, hsla(141, 98%, 42%, 0) 70%);
}

@media (max-width: 992px) {
    .navbar,
    .navbar-collapse {
        background: linear-gradient(45deg, hsla(148, 92%, 41%, 1) 0%, hsla(148, 92%, 41%, 0) 70%),
        linear-gradient(135deg, hsla(137, 97%, 55%, 1) 10%, hsla(137, 97%, 55%, 0) 80%),
        linear-gradient(225deg, hsla(162, 100%, 41%, 1) 10%, hsla(162, 100%, 41%, 0) 80%),
        linear-gradient(315deg, hsla(141, 98%, 42%, 1) 100%, hsla(141, 98%, 42%, 0) 70%);
    }
}

h4 .color {
    background-color: hsla(148, 92%, 41%, 1);
}

::-webkit-scrollbar-thumb {
    background: hsla(148, 92%, 41%, 1);
}

/*** transparent gradient ***/

.header-masc,
.masc {
    background: linear-gradient(45deg, hsla(148, 92%, 41%, .5) 0%, hsla(148, 92%, 41%, 0) 70%),
    linear-gradient(135deg, hsla(137, 97%, 55%, .5) 10%, hsla(137, 97%, 55%, 0) 80%),
    linear-gradient(225deg, hsla(162, 100%, 41%, .5) 10%, hsla(162, 100%, 41%, 0) 80%),
    linear-gradient(315deg, hsla(141, 98%, 42%, .5) 100%, hsla(141, 98%, 42%, 0) 70%);
}
