/* -------------------------------------------

	Name: 		App ollo
	Author:		"Miller Digital Design" Nazar Miller
    Support:    miller.themes@gmail.com
	   		   
--------------------------------------------- */

.preloader,
.download,
.video,
.stats,
.features .future h4 i,
header,
.theme-background,
.team-item,
.panel-heading,
.waves .circle,
.scrolled,
.blog-item,
.color,
.optimal,
.masc,
.header-masc,
.pagination .active a {
    background: linear-gradient(45deg, hsla(351, 100%, 42%, 1) 0%, hsla(351, 100%, 42%, 0) 70%),
    linear-gradient(135deg, hsla(335, 95%, 65%, 1) 10%, hsla(335, 95%, 65%, 0) 80%),
    linear-gradient(225deg, hsla(337, 95%, 43%, 1) 10%, hsla(337, 95%, 43%, 0) 80%),
    linear-gradient(315deg, hsla(359, 81%, 35%, 1) 100%, hsla(359, 81%, 35%, 0) 70%);
}

@media (max-width: 992px) {
    .navbar,
    .navbar-collapse {
        background: linear-gradient(45deg, hsla(351, 100%, 42%, 1) 0%, hsla(351, 100%, 42%, 0) 70%),
        linear-gradient(135deg, hsla(335, 95%, 65%, 1) 10%, hsla(335, 95%, 65%, 0) 80%),
        linear-gradient(225deg, hsla(337, 95%, 43%, 1) 10%, hsla(337, 95%, 43%, 0) 80%),
        linear-gradient(315deg, hsla(359, 81%, 35%, 1) 100%, hsla(359, 81%, 35%, 0) 70%);
    }
}

h4 .color {
    background-color: hsla(351, 100%, 42%, 1);
}

::-webkit-scrollbar-thumb {
    background: hsla(351, 100%, 42%, 1);
}

/*** transparent gradient ***/

.header-masc,
.masc {
    background: linear-gradient(45deg, hsla(351, 100%, 42%, .5) 0%, hsla(351, 100%, 42%, 0) 70%),
    linear-gradient(135deg, hsla(335, 95%, 65%, .5) 10%, hsla(335, 95%, 65%, 0) 80%),
    linear-gradient(225deg, hsla(337, 95%, 43%, .5) 10%, hsla(337, 95%, 43%, 0) 80%),
    linear-gradient(315deg, hsla(359, 81%, 35%, .5) 100%, hsla(359, 81%, 35%, 0) 70%);
}
