<template>
  <div>
    <div class="title-line">
      <p>addresses</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height">
      <!--<div class="section-title">-->
        <!--<p class="portal-widget__heading mdc-typography&#45;&#45;subheading2">Your Last Information based on the last 30 days</p>-->
      <!--</div>-->

      <div class="mdc-card portal-widget__card portal-widget__card--rounded mdc-card--portal-fullheight mdc-card--portal-space-between">
        <v-dialog v-model="dialog" max-width="500px">
          <v-btn slot="activator" color="primary" dark class="mb-2">New Address</v-btn>
          <v-card>
            <v-card-title>
              <span class="headline">Edit Item</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.type" label="Type"></v-text-field>
                    <v-text-field v-model="editedItem.value" label="Value"></v-text-field>
                    <v-select
                        v-if="isMemberSuperAdmin"
                        :items="owners"
                        item-text="profile.telegram_name"
                        v-model="editedItem.owner"
                        label="Owner"
                        single-line
                    ></v-select>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
              <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <!--table responsive vertical-->
        <div class="table-responsive-vertical">
          <table id="table" class="table table-responsive-v2">
            <thead>
              <tr>
                <th v-for="title in headers" >{{ title.text }}</th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="(item, index) in desserts" :key="index">
                <td :data-title="headers[0].text">{{ item.id }}</td>
                <td :data-title="headers[1].text">{{ item.type }}</td>
                <td :data-title="headers[2].text">{{ item.value }}</td>
                <td v-if="isMemberSuperAdmin" :data-title="headers[3].text">{{ item.owner.profile.telegram_name }}</td>
                <td v-if="isMemberSuperAdmin" :data-title="headers[4].text">
                  <v-btn icon class="mx-0" @click="editItem(item)">
                    <v-icon color="teal">edit</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="deleteItem(item)">
                    <v-icon color="pink">delete</v-icon>
                  </v-btn>
                </td>
                <td v-else :data-title="headers[3].text">
                  <v-btn icon class="mx-0" @click="editItem(item)">
                    <v-icon color="teal">edit</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="deleteItem(item)">
                    <v-icon color="pink">delete</v-icon>
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--table responsive vertical end-->
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import AuthService from '../services/Auth';

const authService = new AuthService();


export default {
  name: 'Addresses',

  data() {
    return {
        dialog: false,
        editedIndex: -1,
        editedItem: {
            id: undefined,
            type: undefined,
            value: undefined,
            owner: undefined,
            owner_id: undefined,
        },
        defaultItem: {
            id: undefined,
            type: undefined,
            value: undefined,
            owner: undefined,
            owner_id: undefined,
        },
        owners: [],
        loading: true,
        headers: [],
        desserts: [],
    }
  },

  computed: {
    isMemberAdmin() {
      return authService.getRoleUserRole().name === 'ROLE_ADMIN'
    },
    isMemberSuperAdmin() {
        return authService.getRoleUserRole().name === 'ROLE_SUPER_ADMIN'
    },
  },

  methods: {
      getAllOwners () {
          axios.get('/owners')
              .then(response => {
                  this.owners = response.data.owners
              })
      },
      editItem (item) {
          this.editedIndex = this.desserts.indexOf(item)
          this.editedItem = Object.assign({}, item)
          this.dialog = true
      },

      deleteItem (item) {
          const index = this.desserts.indexOf(item)
          confirm('Are you sure you want to delete this item?') && axios.delete('/address-delete/' + item.id)
              .then(() => {
                  this.desserts.splice(index, 1)
              })
      },

      close () {
          this.dialog = false
          setTimeout(() => {
              this.editedItem = Object.assign({}, this.defaultItem)
              this.editedIndex = -1
          }, 300)
      },



      save () {
          if (this.isMemberSuperAdmin) {
                  this.editedItem.owner_id = this.editedItem.owner.id
          }
          if (this.editedIndex > -1) {
              axios.post('/address/' + this.editedItem.id, this.editedItem)
                  .then(response => {
                      Object.assign(this.desserts[this.editedIndex], this.editedItem)

                      this.close()
                  });
          } else {
              axios.post('/address' , this.editedItem)
                  .then(response => {
                      this.desserts.push(this.editedItem)

                      this.close()
                  });
          }

      },

//      getAllAdmins () {
//          this.loading = true
//          axios.get('/admins')
//              .then(response => {
//                  this.admins = response.data.admins
//
//                  this.loading = false
//              })
//      },

      getAllEntities () {
          this.loading = true
          axios.get('/addresses')
              .then(response => {
                  this.desserts = response.data.addresses

                  this.loading = false
              })
      },

//    getAllTransactions() {
//      this.loading = true
//      axios.post('/transactions-filter?page=' + this.page, this.filterData)
//        .then(response => {
//          this.desserts = response.data.transactions.data
//          this.total = response.data.transactions.total
//          this.last_page = response.data.transactions.last_page
//          this.page = response.data.transactions.current_page
//
//          this.loading = false
//        })
//    },
  },

  mounted() {
    this.getAllEntities()

      this.headers =
        [
          {
            text: 'Id',
            value: 'id',
            sortable: false,
          },
          {
            text: 'Type',
            value: 'type',
            sortable: false,
          },
          {
            text: 'Value',
            value: 'value',
            sortable: false,
          }
        ]

      if (this.isMemberSuperAdmin) {
        this.getAllOwners()
        this.headers.push(
          {
            text: 'Owner',
            value: 'owner',
            sortable: false,
          },
          {
            text: 'Actions',
            sortable: false,
          })
      } else {
          this.headers.push(
              {
                  text: 'Actions',
                  sortable: false,
              })
      }
  }
};
</script>