<template>
  <div>
    <div class="title-line">
      <p>black list</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height">
      <!--<div class="section-title">-->
        <!--<p class="portal-widget__heading mdc-typography&#45;&#45;subheading2">Your Last Information based on the last 30 days</p>-->
      <!--</div>-->

      <div class="mdc-card portal-widget__card portal-widget__card--rounded mdc-card--portal-fullheight mdc-card--portal-space-between">
        <!--table responsive vertical-->
        <div class="table-responsive-vertical">
          <table id="table" class="table table-responsive-v2">
            <thead>
            <tr>
              <th v-for="title in headers" >{{ title.text }}</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(item, index) in desserts" :key="index">
              <td :data-title="headers[0].text" class="table-data-width"><span>{{ item.tx_id }}</span></td>
              <td v-if="isMemberAdmin === false" :data-title="headers[1].text" class="table-data-width"><span>{{ item.owner.profile.telegram_name }}</span></td>
              <td v-if="isMemberAdmin === false" :data-title="headers[2].text">
                <v-btn icon class="mx-0" @click="deleteItem(item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>
              <td v-else :data-title="headers[1].text">
                <v-btn icon class="mx-0" @click="deleteItem(item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--table responsive vertical end-->
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import AuthService from '../services/Auth';

const authService = new AuthService();


export default {
  name: 'BlackList',

  data() {
    return {
      loading: true,
      headers: [],
      desserts: [],
    }
  },

  computed: {
    isMemberAdmin() {
      return authService.getRoleUserRole().name === 'ROLE_ADMIN'
    },
  },

  methods: {
//    editItem (item) {
//      this.editedIndex = this.desserts.indexOf(item)
//      this.editedItem = Object.assign({}, item)
//      this.dialog = true
//    },
//
   deleteItem (item) {
     const index = this.desserts.indexOf(item)
     confirm('Are you sure you want to delete this item?') && axios.delete('/black-list-delete/' + item.id)
       .then(() => {
         this.desserts.splice(index, 1)
       })
   },
//
//    close () {
//      this.dialog = false
//      setTimeout(() => {
//        this.editedItem = Object.assign({}, this.defaultItem)
//        this.editedIndex = -1
//      }, 300)
//    },
//
//    save () {
//      axios.post('/transaction/' + this.editedItem.id, this.editedItem)
//        .then(response => {
//          if (this.editedIndex > -1) {
//            Object.assign(this.desserts[this.editedIndex], this.editedItem)
//          } else {
//            this.desserts.push(this.editedItem)
//          }
//          this.close()
//        });
//    },

      formattedOwner () {
          this.desserts.forEach(( item, index ) => {
              if ( item.owner === null ) {
                  this.desserts[index].owner = {
                      profile: {
                          telegram_name: null
                      }
                  }
              }
          })
      },

      getAllEntities () {
          this.loading = true
          axios.get('/black-lists')
              .then(response => {
                  this.desserts = response.data.black_lists
                  this.formattedOwner()

                  this.loading = false
              })
      },

//    getAllTransactions() {
//      this.loading = true
//      axios.post('/transactions-filter?page=' + this.page, this.filterData)
//        .then(response => {
//          this.desserts = response.data.transactions.data
//          this.total = response.data.transactions.total
//          this.last_page = response.data.transactions.last_page
//          this.page = response.data.transactions.current_page
//
//          this.loading = false
//        })
//    },
  },

  mounted() {
    this.getAllEntities()

      this.headers =
        [
          {
            text: 'Tx Id',
            value: 'tx_id',
            sortable: false,
          }
        ]

      if (this.isMemberAdmin === false) {
          this.headers.push(
              {
                  text: 'Owner',
                  value: 'owner',
                  sortable: false,
              },
              {
                  text: 'Actions',
                  sortable: false,
              })
      } else {
          this.headers.push(
              {
                  text: 'Actions',
                  sortable: false,
              })
      }
  }
};
</script>