<template>
  <div>
    <div class="title-line">
      <p>Builder</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height">

      <div class="mdc-card portal-widget__card portal-widget__card--rounded mdc-card--portal-fullheight mdc-card--portal-space-between">
        <v-dialog v-model="dialog" max-width="500px">
          <v-btn slot="activator" color="primary" dark class="mb-2">Add button</v-btn>
          <v-card>
            <v-card-title>
              <span class="headline">Edit Item</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-select
                        :items="types"
                        v-model="editedItem.type"
                        label="Type"
                        single-line
                    ></v-select>
                    <v-select
                        v-if="editedItem.type === 'link'"
                        :items="entitiesOptions"
                        v-model="editedItem.parent_id"
                        label="Parent"
                        single-line
                    ></v-select>
                    <v-text-field v-model="editedItem.title" label="Title"></v-text-field>
                    <v-text-field v-if="editedItem.type === 'link'" v-model="editedItem.link" label="link"></v-text-field>
                    <v-text-field v-if="editedItem.type === 'button'" v-model="editedItem.welcome" label="Welcome message"></v-text-field>
                    <!--<v-text-field v-model="editedItem.parent_id" label="Parent"></v-text-field>-->



                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
              <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>


        <div class="table-responsive-vertical">
          <table id="table" class="table table-responsive-v2">
            <thead>
            <tr>
              <th v-for="title in headers" >{{ title.text }}</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(item, index) in desserts" :key="index">
              <td :data-title="headers[0].text">{{ item.id }}</td>
              <td :data-title="headers[1].text">{{ item.title }}</td>
              <td :data-title="headers[2].text">{{ item.type }}</td>
              <td :data-title="headers[3].text">
                <template v-if="item.link">
                  <a :href="item.link" target="_blank">Open</a>
                </template></td>
              <td :data-title="headers[4].text">
                <template v-if="item.parent">
                  {{item.parent.title}}
                </template>
                <template v-if="!item.parent">
                  --
                </template>
              </td>
              <td :data-title="headers[5].text">
                <template>
                  <v-btn icon class="mx-0" @click="editItem(item)">
                    <v-icon color="teal">edit</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="deleteItem(item)">
                    <v-icon color="pink">delete</v-icon>
                  </v-btn>
                </template>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--table responsive vertical end-->
        
        <!--<v-data-table-->
            <!--:headers="headers"-->
            <!--:items="desserts"-->
            <!--hide-actions-->
            <!--:loading="loading"-->
            <!--class="elevation-1"-->
        <!--&gt;-->

          <!--<template slot="items" slot-scope="props">-->
            <!--<td>{{ item.id }}</td>-->
            <!--<td>{{ item.title }}</td>-->
            <!--<td>{{ item.type }}</td>-->
            <!--<td>-->
              <!--<template v-if="item.link">-->
                <!--<a :href="item.link" target="_blank">Open</a>-->
              <!--</template></td>-->
            <!--<td>-->
              <!--<template v-if="item.parent">-->
                <!--{{item.parent.title}}-->
              <!--</template>-->
            <!--</td>-->
            <!--<td>-->
              <!--<template>-->
                <!--<v-btn icon class="mx-0" @click="editItem(item)">-->
                  <!--<v-icon color="teal">edit</v-icon>-->
                <!--</v-btn>-->
                <!--<v-btn icon class="mx-0" @click="deleteItem(item)">-->
                  <!--<v-icon color="pink">delete</v-icon>-->
                <!--</v-btn>-->
              <!--</template>-->
            <!--</td>-->

            <!--&lt;!&ndash;<td>&ndash;&gt;-->
              <!--&lt;!&ndash;<template v-if="item.address">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="wrap">{{item.address.value}}</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</template>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{ item.price }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td v-if="isMemberAdmin">{{ item.fee }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td v-if="isMemberAdmin">{{ item.is_correct_fee }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{ item.created_at }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{ item.updated_at }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{ item.finished_date }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td v-if="isMemberAdmin">&ndash;&gt;-->
              <!--&lt;!&ndash;<v-btn icon class="mx-0" @click="editItem(item)">&ndash;&gt;-->
                <!--&lt;!&ndash;<v-icon color="teal">edit</v-icon>&ndash;&gt;-->
              <!--&lt;!&ndash;</v-btn>&ndash;&gt;-->
              <!--&lt;!&ndash;<v-btn icon class="mx-0" @click="deleteItem(item)">&ndash;&gt;-->
                <!--&lt;!&ndash;<v-icon color="pink">delete</v-icon>&ndash;&gt;-->
              <!--&lt;!&ndash;</v-btn>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td class="text-xs-right">{{ item.calories }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td class="text-xs-right">{{ item.fat }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td class="text-xs-right">{{ item.carbs }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td class="text-xs-right">{{ item.protein }}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td class="text-xs-right">{{ item.iron }}</td>&ndash;&gt;-->
          <!--</template>-->
        <!--</v-data-table>-->
      </div>
  </div>
</div>
</template>

<script>
import axios from 'axios';
import AuthService from '../services/Auth';

const authService = new AuthService();


export default {
  name: 'Builder',

  data() {
    return {
      dialog: false,
      editedIndex: -1,
      editedItem: {
          title: undefined,
          type: undefined,
          link: undefined,
          welcome: undefined,
          parent_id: undefined
      },
      defaultItem: {
          title: undefined,
          type: undefined,
          link: undefined,
          welcome: undefined,
          parent_id: undefined
      },
      loading: true,
      page: 1,
      total: 0,
      headers: [],
      desserts: [],
      types:[
          {
              text: 'Button',
              value: 'button'
          },
          {
              text: 'Link',
              value: 'link'
          }
      ],
      entitiesOptions: []
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    }
  },

  computed: {
    isMemberAdmin() {
      return authService.getRoleUserRole().name === 'ROLE_ADMIN'
    }
  },

  methods: {
      editItem (item) {
          this.editedIndex = this.desserts.indexOf(item)
          this.editedItem = Object.assign({}, item)
          this.dialog = true
      },

      deleteItem (item) {
          const index = this.desserts.indexOf(item)
          confirm('Are you sure you want to delete this item?') && axios.delete('/entity-delete/' + item.id)
              .then(() => {
                  this.desserts.splice(index, 1)
              })
      },

      close () {
          this.dialog = false
          setTimeout(() => {
              this.editedItem = Object.assign({}, this.defaultItem)
              this.editedIndex = -1
          }, 300)
      },

      save () {
          if (this.editedIndex > -1) {
              axios.put('/entity', this.editedItem)
                  .then(response => {
                      Object.assign(this.desserts[this.editedIndex], this.editedItem)

                      this.close()
                  });
          } else {
              axios.post('/entity' , this.editedItem)
                  .then(response => {
                      this.desserts.push(this.editedItem)

                      this.close()
                  });
          }

      },

      getAllEntitiesOptions () {
          axios.get('/entities-button')
              .then(response => {
                  let data = response.data.entities

                  data.forEach(item => {
                      this.entitiesOptions.push({
                          value: item.id,
                          text: item.title
                      })
                  });
              })
      },

      getAllEntities () {
          this.loading = true
          axios.get('/entities')
              .then(response => {
                  this.desserts = response.data.entities

                  this.loading = false
              })
      },
  },

  mounted() {
    this.getAllEntities()
    this.getAllEntitiesOptions()

      this.headers =
        [
          {
            text: 'Id',
            value: 'id',
            sortable: false,
          },
          {
            text: 'Title',
            value: 'title',
            sortable: false,
          },
          {
            text: 'Type',
            value: 'type',
            sortable: false,
          },
          {
            text: 'Link',
            value: 'link',
            sortable: false,
          },
          {
            text: 'Parent',
            value: 'parent',
            sortable: false,
          },
          {
            text: 'Actions',
            sortable: false,
          }
        ]
  }
};
</script>