<template>
  <div>
    <div class="title-line">
      <p>Canceled signals</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height">
      <!--<div class="section-title">-->
        <!--<p class="portal-widget__heading mdc-typography&#45;&#45;subheading2">Your Last Information based on the last 30 days</p>-->
      <!--</div>-->

      <!--<v-layout row wrap>-->
        <!--<v-flex xs5>-->
          <!--<v-flex xs6>-->
            <!--<v-subheader>Search</v-subheader>-->
          <!--</v-flex>-->
          <!--<v-flex xs6>-->
            <!--<v-text-field-->
                <!--v-model="filterData.search"-->
                <!--placeholder="email/username/phone"-->
            <!--&gt;</v-text-field>-->
          <!--</v-flex>-->
        <!--</v-flex>-->
        <!--<v-flex xs5>-->
          <!--<v-flex xs6>-->
            <!--<v-subheader>Role</v-subheader>-->
          <!--</v-flex>-->
          <!--<v-flex xs6>-->
            <!--<v-select-->
                <!--:items="roles"-->
                <!--v-model="filterData.role_id"-->
                <!--label="Select"-->
                <!--single-line-->
            <!--&gt;</v-select>-->
          <!--</v-flex>-->
        <!--</v-flex>-->
      <!--</v-layout>-->

      <div class="mdc-card portal-widget__card portal-widget__card--rounded mdc-card--portal-fullheight mdc-card--portal-space-between">
        <v-dialog v-model="dialog" max-width="500px">
          <!--<v-btn slot="activator" color="primary" dark class="mb-2">New Signal</v-btn>-->
          <v-card>
            <v-card-title>
              <span class="headline">Edit Item</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.market" label="market"></v-text-field>
                    <v-select
                        :items="pairs"
                        v-model="editedItem.market"
                        label="Select"
                        single-line
                    ></v-select>
                    <v-text-field v-model="editedItem.pair" label="pair"></v-text-field>
                    <v-text-field v-model="editedItem.buy_zone_one" label="buy zone"></v-text-field>
                    <v-text-field v-model="editedItem.buy_zone_two" label="buy zone"></v-text-field>
                    <v-text-field v-model="editedItem.stop_loss" label="stop loss"></v-text-field>
                    <v-text-field v-model="editedItem.link" label="link"></v-text-field>


                    <div v-for="(item, index) in editedItem.targets">

                      <v-text-field readonly v-model="editedItem.targets[index].number = index+1" label="target №"></v-text-field>
                      <v-text-field v-model="editedItem.targets[index].value" label="value"></v-text-field>
                      <div v-if="index === editedItem.targets.length - 1">
                        <v-btn icon class="mx-0" @click="addItemTarget(index + 1)">
                          <v-icon color="teal">add</v-icon>
                        </v-btn>
                      </div>
                    </div>
                  </v-flex>



                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
              <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <!--table responsive vertical-->
        <div class="table-responsive-vertical">
          <table id="table" class="table table-responsive-v2">
            <thead>
            <tr>
              <th v-for="title in headers" >{{ title.text }}</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(item, index) in desserts" :key="index">

              <td :data-title="headers[0].text">{{ item.market }}</td>
              <td :data-title="headers[1].text">{{ item.pair || '--' }}</td>

              <td :data-title="headers[2].text">{{ item.buy_zone_one  }} - {{item.buy_zone_two}}</td>

              <td :data-title="headers[3].text">{{ item.stop_loss}}</td>
              <td :data-title="headers[4].text" v-html="formattedTargetsArray(item.targets)"></td>
              <td :data-title="headers[5].text">{{ prepareTerm(item.term) }}</td>

              <td v-if="isMemberAdmin === false" :data-title="headers[6].text">{{ item.owner.profile.telegram_name }}</td>
              <td v-if="isMemberAdmin === false" :data-title="headers[7].text">
                <v-btn icon class="mx-0" @click="deleteItem(item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>


              <td v-else :data-title="headers[6].text">
                <v-btn icon class="mx-0" @click="deleteItem(item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
        <!--table responsive vertical end-->
      </div>

      <div class="divider-40"></div>

      <!--<div class="text-xs-center">-->
        <!--<v-pagination :length="last_page" v-model="page"></v-pagination>-->
      <!--</div>-->
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import AuthService from '../services/Auth';

const authService = new AuthService();


export default {
  name: 'CanceledSignals',

  data() {
    return {
      termItems: [
        {
          value: 'short',
          text: '🍎 Short Term'
        },
        {
          value: 'middle',
          text: '🌤 Middle Term'
        },
        {
          value: 'long',
          text: '💫 Long Term'
        },
      ],
      dialog: false,
      pairs: undefined,
      editedIndex: -1,
      editedItem: {
        market: undefined,
        pair: undefined,
        buy_zone_one: undefined,
        buy_zone_two: undefined,
        stop_loss: undefined,
        status: 'active',
        link: undefined,
        targets: [
            {
                number: undefined,
                value: undefined
            }
        ],
      },
      defaultItem: {
          market: undefined,
          pair: undefined,
          buy_zone_one: undefined,
          buy_zone_two: undefined,
          stop_loss: undefined,
          status: 'active',
          link: undefined,
          targets: [
              {
                  number: undefined,
                  value: undefined
              }
          ],
      },
      loading: true,
      headers: [],
      desserts: [],

    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
  },

  computed: {
    isMemberAdmin() {
      return authService.getRoleUserRole().name === 'ROLE_ADMIN'
    }
  },

  methods: {
    prepareTerm(value) {
      if (!value) return '--';

      return this.termItems.filter(item => item.value === value)[0].text
    },

    editItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    addItemTarget () {
        this.editedItem.targets.push({
            number: undefined,
            value: undefined
        })
    },

    formattedTargetsArray (targets) {
      let targetsString = ''
      targets.forEach((item, index) => {
        if (index !== 0) {
          if (item.is_hit) {
            targetsString = targetsString +"✅ " + item.value + "<br>"
          } else {
            targetsString = targetsString +"❓ " + item.value + "<br>"
          }
        } else {
          if (item.is_hit) {
            targetsString = "✅ " + item.value + "<br>"
          } else {
            targetsString = "❓ " + item.value + "<br>"
          }
        }
      })
      return targetsString
    },

    deleteItem (item) {
      const index = this.desserts.indexOf(item)
      confirm('Are you sure you want to delete this item?') && axios.delete('/signal-delete/' + item.id)
        .then(() => {
          this.desserts.splice(index, 1)
        })
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
        if (this.editedIndex > -1) {
            axios.post('/signal/' + this.editedItem.id, this.editedItem)
                .then(response => {
                    Object.assign(this.desserts[this.editedIndex], this.editedItem)

                    this.close()
                });
        } else {
            if (this.editedItem.buy_zone_two === undefined || this.editedItem.buy_zone_two === '') {
                this.editedItem.buy_zone_two = this.editedItem.buy_zone_one
            }
            this.editedItem.pair = this.editedItem.pair.toUpperCase()
            axios.post('/signal' , this.editedItem)
                .then(response => {
//                    this.desserts.push(this.editedItem)

                    this.close()
                });
        }

    },

    getAllSignals() {
      this.loading = true
      axios.get('/signals/canceled')
        .then(response => {
          this.desserts = response.data.signals

          this.loading = false
        })
    },
  },

  mounted() {
    this.getAllSignals()

      this.headers =
        [
          {
            text: 'Market',
            value: 'market',
            sortable: false,
          },
          {
            text: 'Pair',
            value: 'pair',
            sortable: false,
          },
          {
            text: 'Buy Zone',
            value: 'buy_zone_one',
            sortable: false,
          },
          {
            text: 'Stop Loss',
            value: 'stop_loss',
            sortable: false,
          },
          {
            text: 'Targets',
            value: 'targets',
            sortable: false,
          },
          {
            text: 'Time',
            sortable: false,
          }
        ]

      if (this.isMemberAdmin === false) {
          this.headers.push(
              {
                  text: 'Owner',
                  value: 'owner',
                  sortable: false,
              },
              {
                  text: 'Actions',
                  sortable: false,
              })
      } else {
          this.headers.push(
              {
                  text: 'Actions',
                  sortable: false,
              })
      }
  }
};
</script>