<template>
	<div>

		<div class="title-line">
			<p>dashboard</p>
		</div>

		<div class="mdc-layout-grid portal-dashboard screen-height container-top-margin">
			<div v-if="!isMemberAdmin && !isMemberSuperAdmin" class="section-title">
				<p class="">Your Last Information based on the last 30 days</p>
			</div>

			<div v-if="!isMemberAdmin && !isMemberSuperAdmin" class="flex-wrapper-around">
				<div class="info-box">
					<div class="flex-wrapper-between">
						<h5 class="mdc-typography--subheading2 portal-margin-none portal-text-medium">Total Revenue</h5>
            <div>
              <v-menu>
                <v-btn slot="activator" class="info-box-menu-btn"><i class="material-icons">more_vert</i></v-btn>
                <v-list>
									<v-list-tile @click="$router.push('/referrals')">
										<v-list-tile-title>Go To Referrals</v-list-tile-title>
									</v-list-tile>
                </v-list>
              </v-menu>
            </div>
					</div>

					<div class="flex-wrapper-between align-center">
						<radial-progress-bar :diameter="80"
																 startColor="#FF6384"
																 stopColor="#FF6384"
																 innerStrokeColor="#fbd9da"
																 :completed-steps="balance"
																 :total-steps="100"
																 :strokeWidth="6">
							<p style="margin: 0 auto;  color: #FF6384;">{{balance}}</p>
						</radial-progress-bar>
						<div class="text-right">
							<h2 class="m0 fw500">{{balance}}</h2>
							<h6 class="mdc-typography--caption portal-margin-none">Total Purchased</h6>
						</div>
					</div>
				</div>

				<div class="info-box">
					<div class="flex-wrapper-between">
						<h5 class="mdc-typography--subheading2 portal-margin-none portal-text-medium">Total Visits</h5>
					</div>

					<div class="flex-wrapper-between align-center">
						<radial-progress-bar
								:diameter="80"
								startColor="#00be5b"
								stopColor="#00be5b"
								innerStrokeColor="#caf2de"
								:completed-steps="visitsTotal"
								:total-steps="10000"
								:strokeWidth="6">
							<p style="margin: 0 auto; color: #00be5b;">{{visitsTotal}}</p>
						</radial-progress-bar>
						<div class="text-right">
							<h2 class="m0 fw500">{{visitsTotal}}</h2>
							<h6 class="mdc-typography--caption portal-margin-none">Referral Visits</h6>
						</div>
					</div>

					<!--<div class="flex-wrapper-between align-center">-->
					<!--<div class="trending-rounded-box">-->
					<!--<span>32% <i class="material-icons">trending_up</i></span>-->
					<!--</div>-->
					<!--<div class="text-right">-->
					<!--<h2 class="m0 fw500">{{visitsTotal}}</h2>-->
					<!--<h6 class="mdc-typography&#45;&#45;caption portal-margin-none">Visits today</h6>-->
					<!--</div>-->
					<!--</div>-->
					<!--<progress-bar :bar-color="'#00be5b'" :bg-color="'#caf2de'" size="6" :val="20"></progress-bar>-->
				</div>

				<!--<div class="info-box">-->
					<!--<div class="flex-wrapper-between">-->
						<!--<h5 class="mdc-typography&#45;&#45;subheading2 portal-margin-none portal-text-medium">Refferal Activity</h5>-->
            <!--<div>-->
              <!--<v-menu>-->
                <!--<v-btn slot="activator" class="info-box-menu-btn"><i class="material-icons">more_vert</i></v-btn>-->
                <!--<v-list>-->
									<!--<v-list-tile @click="$router.push('/referrals')">-->
										<!--<v-list-tile-title>Go To Referrals</v-list-tile-title>-->
									<!--</v-list-tile>-->
                <!--</v-list>-->
              <!--</v-menu>-->
            <!--</div>-->
					<!--</div>-->

					<!--<div class="flex-wrapper-between align-center">-->
						<!--<div class="trending-rounded-box">-->
							<!--<span>32% <i class="material-icons">trending_up</i></span>-->
						<!--</div>-->
						<!--<div class="text-right">-->
							<!--<h2 class="m0 fw500">{{visitsTotal}}</h2>-->
							<!--<h6 class="mdc-typography&#45;&#45;caption portal-margin-none">Refferal Visits</h6>-->
						<!--</div>-->
					<!--</div>-->
					<!--<progress-bar :bar-color="'#00be5b'" :bg-color="'#caf2de'" size="6" :val="20"></progress-bar>-->
				<!--</div>-->

				<div class="info-box">
					<div class="flex-wrapper-between">
						<h5 class="mdc-typography--subheading2 portal-margin-none portal-text-medium">Premium</h5>
            <div>
              <v-menu >
                <v-btn slot="activator" class="info-box-menu-btn"><i class="material-icons">more_vert</i></v-btn>
                <v-list>
                  <v-list-tile @click="showPackagesAction">
                    <v-list-tile-title >Add Tokens</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </div>
					</div>

					<div class="flex-wrapper-between align-center">
						<!--<donut-chart -->
						  <!--id="donut2" -->
						  <!--:data="donutData2" -->
						  <!--colors='[ "#FF6384", "#03A9F4" ]'-->
						  <!--resize="true">-->
						<!--</donut-chart>-->
						<radial-progress-bar :diameter="80"
							 startColor="#f9aa20"
							 stopColor="#f9aa20"
							 innerStrokeColor="#efdbb8"
							 :completed-steps="diffInDays"
							 :total-steps="totalDays"
							 :strokeWidth="6">
							<p style="margin: 0 auto;  color: #f9aa20;">{{totalDays - diffInDays}}</p>
						</radial-progress-bar>
						<div class="text-right">
							<h2 class="m0 fw500">{{diffInDays}}</h2>
							<h6 class="mdc-typography--caption portal-margin-none">Premium Days Left</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="divider-40"></div>

			<div v-if="isMemberAdmin" class="section-title">
				<p class="">Easy Gram Packages</p>
			</div>

      <div class="flex-wrapper-center" v-if="true">
				<div class="dashboard-term-block" v-for="(item, index) in packages">
					<template v-if="isMemberUser">
						<h2><span>Ƀ</span> {{ item.Price_BTC }}</h2>
						<h6>{{ item.days }} Days</h6>
						<p><img src="../assets/images/dashboard/rocket.svg" alt="ico">Free signals</p>
						<p><img src="../assets/images/dashboard/finances.svg" alt="ico">Premium Portfolio</p>
						<p><img src="../assets/images/dashboard/telegram-logo.svg" alt="ico">Public chat</p>
						<p><img src="../assets/images/dashboard/support.svg" alt="ico">Premium Support</p>
						<div class="button-wrapper">
							<v-btn @click="setSelected(item)" color="info">subscribe</v-btn>
						</div>

						<div v-if="item.id === 2" class="label-best-plan"><span>best</span></div>
					</template>

					<template v-if="!isMemberUser">
						<h2 v-if="!isMemberUser"><span>$</span> {{ item.Price_BTC }}</h2>
						<h6 style="text-align: left;">100 Users</h6>
						<p><img src="../assets/images/dashboard/rocket.svg" alt="ico">Manage Users</p>
						<p><img src="../assets/images/dashboard/finances.svg" alt="ico">Manage Payments</p>
						<!--<p><img src="../assets/images/dashboard/support.svg" alt="ico">Premium Support</p>-->
						<div class="button-wrapper">
							<v-btn @click="setSelected(item)" color="info">Connect</v-btn>
						</div>

						<!--<div class="label-best-plan"><span>best</span></div>-->
					</template>


        </div>
			</div>

			<br/>

			<div v-if="isMemberAdmin" class="section-title">
				<p class="">Packages for your users</p>
			</div>

			<div class="flex-wrapper-center" v-if="true">
				<div class="dashboard-term-block" v-for="(item, index) in packagesForAdminUsers">
					<h2><span>Ƀ</span> {{ item.Price_BTC }}</h2>
					<h6>{{ item.days }} Days</h6>
					<p><img src="../assets/images/dashboard/rocket.svg" alt="ico">Free signals</p>
					<p><img src="../assets/images/dashboard/finances.svg" alt="ico">Premium Portfolio</p>
					<p><img src="../assets/images/dashboard/telegram-logo.svg" alt="ico">Public chat</p>
					<p><img src="../assets/images/dashboard/support.svg" alt="ico">Premium Support</p>
					<div class="button-wrapper">
						<v-btn disabled @click="setSelected(item)" color="info">subscribe</v-btn>
					</div>

					<div v-if="item.id === 2" class="label-best-plan"><span>best</span></div>
				</div>
			</div>


		</div>

	</div>
</template>

<script>
import RadialProgressBar from 'vue-radial-progress';
import ProgressBar from 'vue-simple-progress';
import axios from 'axios';
import lockr from 'lockr';
import moment from 'moment';
import AuthService from '../services/Auth';

const authService = new AuthService();

export default {
	name: 'Dashboard',
	components: {
    RadialProgressBar,
		ProgressBar,
	},
	data () {
		return {
			packagesForAdminUsers: [],
      transactionActive: false,
      statistic: {},
      showPackages: false,
      progressCircle: 0,
      loaderText: 'Not confirmed',
      infoError: false,
      txid: undefined,
      address_id: undefined,
			balance: 0,
      loader: false,
      paymentSaved: false,
      packages: [],
      settings: [],
      totalDays: 0,
      diffInDays: 0,
      subscribeApprove: false,
      showCheckout: false,
      tooltipText: '',
      selected: {
        package: undefined,
        currencyValue: undefined,
        currencyText: undefined,
        wallet: '0xdad10fe62822f01c251d82c496e99a2e4c712c559847fa0378de14d395cf6c1e',
        fee: '0.001',
        max_fee: '0.003'
      },
      transaction: {},
      dateEnd: undefined,
      items: [
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' }
      ]
		};
	},

  computed: {

    sum () {
      const price = parseFloat(this.selected.package[this.selected.currencyValue]);
      const fee = parseFloat(this.selected.fee);

      return (price + fee)
    },

    progress () {
      return (this.diffInDays / 365) * 100
    },

    registeredTotal: function () {
      if (!this.statistic.hasOwnProperty('registered')) return 0
      if (!this.statistic.registered.hasOwnProperty('total')) return 0

      return this.statistic.registered.total
    },

    payedTotal: function () {
      if (!this.statistic.hasOwnProperty('payed')) return 0
      if (!this.statistic.payed.hasOwnProperty('total')) return 0

      return this.statistic.payed.total
    },

    visitsTotal: function () {
      if (!this.statistic.hasOwnProperty('visits')) return 0
      if (!this.statistic.visits.hasOwnProperty('total')) return 0

      return this.statistic.visits.total
    },

    visitsToday: function () {
      return this.todayByKey('visits')
    },

		isMemberAdmin() {
			return authService.getRoleUserRole().name === 'ROLE_ADMIN'
		},

		isMemberSuperAdmin() {
			return authService.getRoleUserRole().name === 'ROLE_SUPER_ADMIN'
		},

		isMemberUser() {
			return authService.getRoleUserRole().name === 'ROLE_USER'
				|| authService.getRoleUserRole().name === 'ROLE_PREMIUM'
				|| authService.getRoleUserRole().name === 'ROLE_FREE'
		},
  },
	
	methods: {
    todayByKey (key) {
      if (!this.statistic.hasOwnProperty(key)) return 0;
      if (!this.statistic[key].hasOwnProperty('groups')) return 0;

      let total = 0;
      for (let day in this.statistic[key].groups) {
        if (!this.statistic[key].groups.hasOwnProperty(day)) return false;

        if (day === moment().format("YYYY-MM-DD")) {
          total += this.statistic[key].groups[day];
        }
      }

      return total;
    },

    showPackagesAction () {
      this.showPackages = !this.showPackages
		},

    getPackages () {
			if (this.isMemberAdmin || this.isMemberSuperAdmin) {
				axios.get('/packages-for-admin')
						.then(response => {
								let data = response.data

								this.packages = data.packages.all
								if (data.packages.for_admin_users) {
                    this.packagesForAdminUsers = data.packages.for_admin_users
								}
						})
			} else {
				axios.get('/packages')
					.then(response => {
							let data = response.data

							this.packages = data.packages
					})
			}
    },

    getWalletAddress (type) {
      axios.post('/address-for-user', {type: type})
        .then(response => {
          this.address_id = response.data.wallet_address.id;
          this.selected.wallet = response.data.wallet_address.value;
        })
    },

    getBalances () {
      axios.get('/balance')
        .then(response => this.balance = parseFloat(response.data.balance))
    },

    getStatistic () {
      axios.get('/referrals/statistic')
        .then(response => this.statistic = response.data.statistic);
    },

    getLatestTransaction () {
      axios.get('/transaction-latest')
        .then(response => {
          if (response.data.transaction && response.data.user) {
            response.data.transaction.finished_date = response.data.user.finished_date;

						this.transaction = response.data.transaction;

						this.processTransaction();
          }
        })
    },

    processTransaction() {
      if (parseInt(this.transaction.status) === 1) {
        this.transactionActive = true;

        const dateNow = moment();
        const dateEnd = moment(this.transaction.finished_date.date || this.transaction.finished_date);
        const dateCreated = moment(this.transaction.updated_at.date || this.transaction.updated_at);
        this.totalDays = dateEnd.diff(dateCreated, 'days');
        this.diffInDays = dateEnd.diff(dateNow, 'days');

        this.dateEnd = dateEnd;
      }
    },

    setSelected(item) {
      this.$router.push({ name: 'Payment', params: { package: item, isAdmin: this.isMemberAdmin }})
      // this.$router.push({ name: 'Payment', params: { package: item, isAdmin: true }})
		}
	},

  mounted () {
    this.getLatestTransaction()
		this.getStatistic()

    // lockr.rm('transaction')
    this.getPackages()
    this.getBalances()
    // this.getSettings()

    this.$on('setSelected', this.setSelected)
  }
};
</script>

<style scoped lang="scss">
/* Dashboard */
.section-title {
	p {
		font-size: 21px;
	}
}

.info-box {
	height: 180px;
	background-color: #fff;
	width: 23%;
	min-width: 270px;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	& > div:first-child {
		margin-bottom: 20px;
	}
}

.info-box-menu-btn {
  background-color: transparent !important;
  margin: 0 !important;
  height: initial !important;
  min-width: initial !important;
  width: 20px !important;
  border: none !important;
  box-shadow: none !important;
  i {
    color: grey;
  }
}

#donut1, #donut2 {
	width: 100px;
	height: 100px;
}

.dashboard-term-block {
	position: relative;
	background-color: #fff;
	width: 305px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
	padding: 15px;
	margin: 10px;
	box-sizing: border-box;
	h2 {
		font-weight: normal;
		font-size: 60px;
		margin: 0;
		span {
			font-size: 18px;
			font-weight: bold;
		}
	}
	h6 {
		text-align: center;
		font-size: 21px;
		font-weight: normal;
		margin: 30px 0;
	}
	p {
		padding-bottom: 10px;
		border-bottom: 1px solid darken(#fafafa, 2%);
		img {
			width: 20px;
			height: auto;
			vertical-align: middle;
			margin-right: 10px;
		}
	}
}

.button-wrapper {
	margin-top: 60px;
	text-align: center;
}

.label-best-plan {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 60px 60px 0;
	border-color: transparent #03A9F4 transparent;
	span {
		display: inline-block;
		text-transform: uppercase;
		font-size: 14px;
		color: #fff;
		transform: rotate(45deg);
		margin-top: 10px;
		margin-left: 22px;
	}
}

.trending-rounded-box {
	height: 100px;
	span {
		display: inline-block;
		font-size: 12px;
		color: #fff;
		line-height: 1;
		background-color: #00be5b;
		padding: 2px 10px;
		border-radius: 12px;
		margin-top: 30px;
		i {
			vertical-align: middle;
			font-size: 16px;
		}
	}
}
/* Dashboard end */

//media
@media (max-width: 600px) {
	.section-title {
		p {
			font-size: 30px;
			line-height: 1.1;
		}
	}

	.info-box {
		width: 100%;
	}

	.dashboard-term-block {
		width: 100%;
	}
}
</style>