<template>
  <div>
    <div class="title-line">
      <p>email details</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height">
      <!--<div class="section-title">-->
        <!--<p class="portal-widget__heading mdc-typography&#45;&#45;subheading2">Your Last Information based on the last 30 days</p>-->
      <!--</div>-->

      <div class="mdc-card portal-widget__card portal-widget__card--rounded mdc-card--portal-fullheight mdc-card--portal-space-between">
        <!--table responsive vertical-->
        <v-dialog v-model="dialog" max-width="500px">
          <!--<v-btn slot="activator" color="primary" dark class="mb-2">New Package</v-btn>-->
          <v-card>
            <v-card-title>
              <span class="headline">Edit Item</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.subject" label="Subject"></v-text-field>
                    <v-text-field v-model="editedItem.title" label="Title"></v-text-field>
                    <v-text-field v-model="editedItem.text" label="Text"></v-text-field>
                    <v-text-field v-model="editedItem.button_text" label="Button Text"></v-text-field>
                    <v-text-field readonly v-model="editedItem.type" label="Type"></v-text-field>
                    <v-select
                        v-if="isMemberAdmin === false"
                        :items="owners"
                        item-text="profile.telegram_name"
                        v-model="editedItem.owner"
                        label="Owner"
                        single-line
                    ></v-select>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
              <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <div class="table-responsive-vertical">
          <table id="table" class="table table-responsive-v2">
            <thead>
            <tr>
              <th v-for="title in headers" >{{ title.text }}</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(item, index) in desserts" :key="index">
              <td :data-title="headers[0].text" class="table-data-width"><span>{{ item.subject }}</span></td>
              <td :data-title="headers[1].text" class="table-data-width"><span>{{ item.title }}</span></td>
              <td :data-title="headers[2].text" class="table-data-width"><span>{{ item.text }}</span></td>
              <td :data-title="headers[3].text" class="table-data-width"><span>{{ item.button_text }}</span></td>
              <td :data-title="headers[4].text" >{{ item.type }}</td>
              <td v-if="isMemberAdmin === false" :data-title="headers[5].text">{{ item.owner.profile.telegram_name }}</td>
              <td v-if="isMemberAdmin === false" :data-title="headers[6].text">
                <v-btn icon class="mx-0" @click="editItem(item)">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
              </td>
              <td v-else :data-title="headers[5].text">
                <v-btn icon class="mx-0" @click="editItem(item)">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--table responsive vertical end-->
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import AuthService from '../services/Auth';

const authService = new AuthService();


export default {
  name: 'EmailDetails',

  data() {
    return {
        dialog: false,
        editedIndex: -1,
        loading: true,
        headers: [],
        desserts: [],
        editedItem: {
            type: undefined,
            text: undefined,
            tittle: undefined,
            button_text: undefined,
            subject: undefined,
            owner_id: undefined,
            owner: undefined
        },
        defaultItem: {
            type: undefined,
            text: undefined,
            tittle: undefined,
            button_text: undefined,
            subject: undefined,
            owner_id: undefined,
            owner: undefined
        },
        owners: []
    }
  },

  computed: {
    isMemberAdmin() {
      return authService.getRoleUserRole().name === 'ROLE_ADMIN'
    }
  },

  methods: {
    editItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

//    deleteItem (item) {
//      const index = this.desserts.indexOf(item)
//      confirm('Are you sure you want to delete this item?') && axios.delete('/transaction-delete/' + item.id)
//        .then(() => {
//          this.desserts.splice(index, 1)
//        })
//    },

    getAllOwners () {
        axios.get('/owners')
            .then(response => {
                this.owners = response.data.owners
            })
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
      if (this.isMemberAdmin === false) {
          this.editedItem.owner_id = this.editedItem.owner.id
      }
      axios.post('/email-detail/' + this.editedItem.id, this.editedItem)
        .then(response => {
          if (this.editedIndex > -1) {
            Object.assign(this.desserts[this.editedIndex], this.editedItem)
          } else {
            this.desserts.push(this.editedItem)
          }
          this.close()
        });
    },

      getAllEntities () {
          this.loading = true
          axios.get('/email-details')
              .then(response => {
                  this.desserts = response.data.details

                  this.loading = false
              })
      },

//    getAllTransactions() {
//      this.loading = true
//      axios.post('/transactions-filter?page=' + this.page, this.filterData)
//        .then(response => {
//          this.desserts = response.data.transactions.data
//          this.total = response.data.transactions.total
//          this.last_page = response.data.transactions.last_page
//          this.page = response.data.transactions.current_page
//
//          this.loading = false
//        })
//    },
  },

  mounted() {
    this.getAllEntities()

      this.headers =
        [
          {
            text: 'Subject',
            value: 'subject',
            sortable: false,
          },
          {
            text: 'Title',
            value: 'title',
            sortable: false,
          },
          {
            text: 'Text',
            value: 'text',
            sortable: false,
          },
          {
            text: 'Button Text',
            value: 'button_text',
            sortable: false,
          },
          {
            text: 'Type',
            value: 'type',
            sortable: false,
          }
        ]

      if (this.isMemberAdmin === false) {
          this.getAllOwners()
          this.headers.push(
              {
                  text: 'Owner',
                  value: 'owner',
                  sortable: false,
              },
              {
                  text: 'Actions',
                  sortable: false,
              })
      } else {
          this.headers.push(
              {
                  text: 'Actions',
                  sortable: false,
              })
      }
  }
};
</script>