<template>
  <div>
    <div class="title-line">
      <p>logs</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height">
      <!--<div class="section-title">-->
        <!--<p class="portal-widget__heading mdc-typography&#45;&#45;subheading2">Your Last Information based on the last 30 days</p>-->
      <!--</div>-->

      <div class="mdc-card portal-widget__card portal-widget__card--rounded mdc-card--portal-fullheight mdc-card--portal-space-between">

        <div class="table-responsive-vertical">
          <table id="table" class="table table-responsive-v2">
            <thead>
            <tr>
              <th v-for="title in headers" >{{ title.text }}</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(item, index) in desserts" :key="index">
              <td :data-title="headers[0].text">{{ item.provider }}</td>
              <td :data-title="headers[1].text">
                <template v-if="parseInt(item.status) === 1">
                  <v-chip color="primary" text-color="white">Info</v-chip>
                </template>
                <template v-if="parseInt(item.status) === 2">
                  <v-chip color="brown" text-color="white">Warning</v-chip>
                </template>
                <template v-if="parseInt(item.status) === 3">
                  <v-chip color="red" text-color="white">Error</v-chip>
                </template>
              </td>
              <td :data-title="headers[2].text">{{ item.entity_id }}</td>
              <td :data-title="headers[3].text" class="table-data-width"><span>{{ item.data }}</span></td>
              <td :data-title="headers[4].text">{{ item.created_at }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import AuthService from '../services/Auth';

const authService = new AuthService();


export default {
  name: 'Logs',

  data() {
    return {
      loading: true,
      headers: [],
      desserts: [],
    }
  },

  computed: {
    isMemberAdmin() {
      return authService.getRoleUserRole().name === 'ROLE_ADMIN'
    }
  },

  methods: {
//    editItem (item) {
//      this.editedIndex = this.desserts.indexOf(item)
//      this.editedItem = Object.assign({}, item)
//      this.dialog = true
//    },
//
//    deleteItem (item) {
//      const index = this.desserts.indexOf(item)
//      confirm('Are you sure you want to delete this item?') && axios.delete('/transaction-delete/' + item.id)
//        .then(() => {
//          this.desserts.splice(index, 1)
//        })
//    },
//
//    close () {
//      this.dialog = false
//      setTimeout(() => {
//        this.editedItem = Object.assign({}, this.defaultItem)
//        this.editedIndex = -1
//      }, 300)
//    },
//
//    save () {
//      axios.post('/transaction/' + this.editedItem.id, this.editedItem)
//        .then(response => {
//          if (this.editedIndex > -1) {
//            Object.assign(this.desserts[this.editedIndex], this.editedItem)
//          } else {
//            this.desserts.push(this.editedItem)
//          }
//          this.close()
//        });
//    },

      getAllEntities () {
          this.loading = true
          axios.get('/logs')
              .then(response => {
                  this.desserts = response.data.logs

                  this.loading = false
              })
      },

//    getAllTransactions() {
//      this.loading = true
//      axios.post('/transactions-filter?page=' + this.page, this.filterData)
//        .then(response => {
//          this.desserts = response.data.transactions.data
//          this.total = response.data.transactions.total
//          this.last_page = response.data.transactions.last_page
//          this.page = response.data.transactions.current_page
//
//          this.loading = false
//        })
//    },
  },

  mounted() {
    this.getAllEntities()

      this.headers =
        [
          {
            text: 'Provider',
            value: 'provider',
            sortable: false,
          },
          {
            text: 'Status',
            value: 'status',
            sortable: false,
          },
          {
            text: 'Entity Id',
            value: 'entity_id',
            sortable: false,
          },
          {
            text: 'Data',
            value: 'data',
            sortable: false,
          },
          {
            text: 'Created At',
            value: 'created_at',
            sortable: false,
          },
        ]
  }
};
</script>