<template>
  <div>
    <div class="title-line">
      <p>packages</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height">
      <!--<div class="section-title">-->
        <!--<p class="portal-widget__heading mdc-typography&#45;&#45;subheading2">Your Last Information based on the last 30 days</p>-->
      <!--</div>-->

      <div class="mdc-card portal-widget__card portal-widget__card--rounded mdc-card--portal-fullheight mdc-card--portal-space-between">
        <v-dialog v-model="dialog" max-width="500px">
          <v-btn slot="activator" color="primary" dark class="mb-2">New Owner</v-btn>
          <v-card>
            <v-card-title>
              <span class="headline">Edit Item</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.host" label="Host"></v-text-field>
                    <v-select
                        :items="admins"
                        item-text="telegram_name"
                        item-value="id"
                        v-model="editedItem.user_id"
                        label="Telegram name"
                        single-line
                    ></v-select>
                    <!--<v-text-field v-model="editedItem.profile.telegram_name" label="Telegram name"></v-text-field>-->
                    <v-text-field v-model="editedItem.channel_premium" label="Channel Premium"></v-text-field>
                    <v-text-field v-model="editedItem.channel_log" label="Channel Logs"></v-text-field>
                    <!--<v-text-field v-model="editedItem.Price_ETH" label="Price_ETH"></v-text-field>-->
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
              <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <!--table responsive vertical-->
        <div class="table-responsive-vertical">
          <table id="table" class="table table-responsive-v2">
            <thead>
            <tr>
              <th v-for="title in headers" >{{ title.text }}</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(item, index) in desserts" :key="index">

              <td :data-title="headers[0].text">{{ item.id }}</td>
              <td :data-title="headers[1].text">{{ item.profile.telegram_name }}</td>
              <td :data-title="headers[2].text">{{ item.host }}</td>
              <td :data-title="headers[3].text">{{ item.channel_premium }}</td>
              <td :data-title="headers[4].text">{{ item.channel_log }}</td>
              <td :data-title="headers[5].text">
                <v-btn icon class="mx-0" @click="editItem(item)">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
                <v-btn icon class="mx-0" @click="deleteItem(item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--table responsive vertical end-->
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import AuthService from '../services/Auth';

const authService = new AuthService();


export default {
  name: 'Owners',

  data() {
    return {
      dialog: false,
      editedIndex: -1,
      editedItem: {
          channel_premium: undefined,
          channel_log: undefined,
          host: undefined,
          profile: {
              telegram_name: undefined
          },
          user_id: undefined
      },
      defaultItem: {
          channel_premium: undefined,
          channel_log: undefined,
          host: undefined,
          profile: {
              telegram_name: undefined
          },
          user_id: undefined
      },
      admins: [],
      loading: true,
      headers: [],
      desserts: [],
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
  },

  computed: {
    isMemberAdmin() {
      return authService.getRoleUserRole().name === 'ROLE_SUPER_ADMIN'
    }
  },

  methods: {
    editItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.desserts.indexOf(item)
      confirm('Are you sure you want to delete this item?') && axios.delete('/owner-delete/' + item.id)
        .then(() => {
          this.desserts.splice(index, 1)
        })
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

      save () {
          if (this.editedIndex > -1) {
              axios.post('/owner/' + this.editedItem.id, this.editedItem)
                  .then(response => {
                      Object.assign(this.desserts[this.editedIndex], this.editedItem)

                      this.close()
                  });
          } else {
//              this.editedItem.user_id = this.editedItem.profile.id
              axios.post('/owner' , this.editedItem)
                  .then(response => {
                    this.desserts.push(this.editedItem)

                      this.close()
                  });
          }

      },

      getAllAdmins () {
          this.loading = true
          axios.get('/admins')
              .then(response => {
                  this.admins = response.data.admins

                  this.loading = false
              })
      },

      getAllOwners () {
          this.loading = true
          axios.get('/owners')
              .then(response => {
                  this.desserts = response.data.owners

                  this.loading = false
              })
      },

//    getAllTransactions() {
//      this.loading = true
//      axios.post('/transactions-filter?page=' + this.page, this.filterData)
//        .then(response => {
//          this.desserts = response.data.transactions.data
//          this.total = response.data.transactions.total
//          this.last_page = response.data.transactions.last_page
//          this.page = response.data.transactions.current_page
//
//          this.loading = false
//        })
//    },
  },

  mounted() {
    this.getAllOwners()
    this.getAllAdmins()

      this.headers =
        [
            {
                text: 'Id',
                value: 'id',
                sortable: false,
            },
            {
                text: 'Telegram name',
                value: 'profile',
                sortable: false,
            },
            {
                text: 'Host',
                value: 'host',
                sortable: false,
            },
            {
                text: 'Premium channel',
                value: 'channel_premium',
                sortable: false,
            },
            {
                text: 'Log channel',
                value: 'channel_log',
                sortable: false,
            },
            {
                text: 'Actions',
                sortable: false,
            }
        ]
  }
};
</script>