<template>
  <div>

    <div class="title-line">
      <p>dashboard</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height align-payment-center">


      <div class="dashboard-payment">
        <v-alert v-if="!package" outline :value="true" type="error" style="width: 100%">
          First select the package
        </v-alert>
        
        <!-- step 1 -->
        <div v-if="package" v-show="steps.step1">
          <div class="payment-text">
            <p class="">You are about to Add <span class="text-green">{{package.days}} Days</span> to your subscription  at EasyGram Premium Membership<br>
              We got few wallets you can choose to pay us for the package. Please select A wallet from the list bellow</p>
             <strong class="mdc-typography--body1 strong-text">** if you close this page by mistake, next time you enter, just choose the wallet you paid for and submit The TXID again</strong>
          </div>
          
          <div class="payment-row payment-text">
            <p class="">1. Please Send {{package.Price_BTC}} BTC To our Wallet
              <v-tooltip bottom>
                <v-icon slot="activator" dark color="primary">info</v-icon>
                <span>Make sure the final payment after mining Fees will be <0.01> and not smaller</span>
              </v-tooltip>
            </p>
            <div class="payment-inner-center-box payment-text">
              <v-radio-group v-model="selectedAddress" :mandatory="false" :column="true">
                <v-radio v-for="(address, index) in addresses" :key="index" :label="address.value" :value="address.id">
                  <template slot="label">
                    {{address.value}}

                    <i v-clipboard:copy="address.value" class="material-icons copy-address">file_copy</i>
                  </template>
                </v-radio>
              </v-radio-group>
            </div>
          </div>

          <div class="payment-row mt-0 payment-text">
            <p class="mdc-typography--body1">2. Please fill in your TxID of your Transaction (you can find it under your transfer info)
              <v-tooltip bottom>
                <v-icon slot="activator" dark color="primary">info</v-icon>
                <span>TXID is inside your wallet Transction history details.
IF your not sure please contact @yaromTeam at telegram for support.</span>
              </v-tooltip>
            </p>
            <div class="payment-inner-center-box">
              <v-text-field
                v-model="tx_id"
                :rules="nameRules"
                :counter="64"
                label="TxID"
                required
              ></v-text-field>
              <small>Make sure you enter TxID its a long string number</small><br>
              <small class="text-ellipsis">Example (3a79a3edff02e882d64d5ebca98f9f845396fbe482494ce948514f0d83df70d0)</small><br>
              <v-btn color="info" class="ml-0 mt-4 custom-btn" @click="showStep2">next</v-btn>
            </div>
          </div>
        </div>
        <!-- step 2 -->
        <div v-if="package && steps.step2">
          <div class="payment-text">
            <p class=""><span class="text-green">{{day}} Days</span> subscription at EasyGram Premium Membership</p>
            <p class="">Please confirm the details below, the system will check the Blockchain.info<br>To look for this transaction as the transaction will get 1 confirmation the system will Add you automatic to the <span class="text-green">VIP</span> channel</p>
            <strong class=""> **Please make sure your Telegram <span class="text-green">@USERNAME</span>is updated at the profile page <span class="text-green">EMAIL</span> at the profile page.</strong>
          </div>
          <div class="payment-row payment-text">
            <p class="">You Send the payment to this address</p>
            <v-checkbox :label="getAddressById().value" v-model="sendedConfirmation" id="payment-check"></v-checkbox>
            <p class="">Your TxID is</p>
            <p class="text-ellipsis">{{tx_id}}</p>
          </div>
          <v-btn color="info" class="ml-0 mt-4 custom-btn" @click="showStep3">confirm</v-btn>
          <v-btn class="ml-0 mt-4 custom-btn grey-btn" @click="showStep1">back</v-btn>
        </div>
        <!-- step 3 -->
        <div v-if="package && steps.step3" class="step-3 text-center">
          <div v-if="transaction">
            <h2>thank you!</h2>
            <p class="strong-text">Everything is Ok <br>You can use EasyGram now</p>
            <div class="payment-succsess">
              <i class="material-icons">check</i>
            </div>

            <v-btn color="info" class="ml-0 mt-4 custom-btn" @click="$router.push('/transactions')">Payments</v-btn>
            <div class="step-3-contact">
              <p class="strong-text">**For Any problem with Registration please contact<br>
                <a class="text-green" href="https://t.me/yaromTeam" target="_blank">@yaromTeam</a>
              </p>
            </div>
          </div>
          <!--<div v-if="transaction && transaction.status == 0">-->
            <!--<h2>please wait!</h2>-->
            <!--<p class="strong-text">Waiting for transaction confirmation</p>-->
            <!--<div class="payment-waiting">-->
              <!--<i class="material-icons">info</i>-->
            <!--</div>-->

            <!--<v-btn color="info" class="ml-0 mt-4" @click="checkConfirmation()">check</v-btn>-->
          <!--</div>-->
          <!--<div v-if="transaction && transaction.status == 2">-->
            <!--<h2>An error has occurred</h2>-->
            <!--<p class="strong-text">Please Contact Support</p>-->
            <!--<div class="payment-error">-->
              <!--<i class="material-icons">warning</i>-->
            <!--</div>-->

            <!--<v-btn color="info" class="ml-0 mt-4" @click="$router.push('/dashboard')">dashboard</v-btn>-->
          <!--</div>-->
        </div>
      </div>
    </div>


    <v-snackbar
        :timeout="6000"
        :bottom="true"
        :right="true"
        v-model="snackbar"
    >
      {{ snackbarText }}
      <v-btn flat color="pink" @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  import axios from 'axios';
  import AuthService from '../services/Auth';

  const authService = new AuthService();

  export default {
    name: 'Payment',
    data () {
      return {
        package: this.$route.params.package,
        isAdmin: this.$route.params.isAdmin,
        snackbar: false,
        snackbarText: '',
        selectedAddress: 0,
        addresses: [],
        day: '60',
        radios: 'radio-1',
        valid: false,
        tx_id: '',
        nameRules: [
          v => !!v || 'Input fields with hints and placeholders',
          v => v.length <= 64 || 'Name must be less than 10 characters'
        ],
        sendedConfirmation: false,
        steps: {
          step1: true,
          step2: false,
          step3: false
        },
        paymentSaved: false,
        transaction: undefined,
        settings: []
      }
    },

    computed: {
        isMemberAdmin() {
            return authService.getRoleUserRole().name === 'ROLE_ADMIN'
        }
    },

    methods: {
      checkConfirmation () {
        axios.get('/transaction-check/' + this.transaction.id)
          .then(response => {
            this.transaction = response.data.transactionResult.transaction
          })
      },
      submitPayment (cl) {
        const data = {
          type: 'BTC',
          package_id: this.package.id,
          tx_id: this.tx_id,
          address_id: this.getAddressById().id,
          status: 0,
          price: this.package.Price_BTC,
          fee: this.filterSetting('btc_fee'),
          max_fee: this.filterSetting('btc_max_fee'),
        };

        axios.post('/transaction', data)
          .then(response => {
            let data = response.data
            if (data.transaction === 'black_list') {
              this.snackbar = true;
              this.snackbarText = 'Transaction ID was found in black list';
            } else {
              this.infoError = false
              this.paymentSaved = true
              this.transaction = data.transaction

              cl();
            }
          })
      },
      submitAdminPayment() {
        const data = {
          type: 'BTC',
          package_id: this.package.id,
          tx_id: 'admin_tx',
          address_id: 17,
          status: 1,
          price: this.package.Price_BTC,
          fee: 0,
          max_fee: 0,
        };

        axios.post('/transaction', data)
          .then(response => {
            let data = response.data
            this.infoError = false
            this.paymentSaved = true
            this.transaction = data.transaction
          })
      },
      getAddressById() {
        return Object.values(this.addresses).filter(item => item.id === this.selectedAddress)[0]
      },
      showStep1 () {
        this.steps.step1 = !this.steps.step1;
        this.steps.step2 = !this.steps.step2;
      },
      showStep2 () {
        if (this.tx_id && this.selectedAddress && this.tx_id.length === 64) {
          this.steps.step1 = !this.steps.step1;
          this.steps.step2 = !this.steps.step2;
        } else {
          this.snackbar = true;
          this.snackbarText = 'Select wallet and put transaction ID to field';
        }
      },
      showStep3 () {
        if (!this.sendedConfirmation) {
          this.snackbar = true;
          this.snackbarText = 'Please confirm wallet';

          return false;
        }

        this.submitPayment(() => {
          this.steps.step3 = !this.steps.step3;
          this.steps.step2 = !this.steps.step2;
        });
      },
      getWalletAddress (type) {
        axios.post('/address-for-user', {type: type})
          .then(response => {
            this.addresses = response.data.addresses;
          })
      },
      getSettings () {
        if (this.isMemberAdmin) {
          axios.get('/settings-for-admin')
            .then(response => {
                this.settings = response.data.settings
            })
        } else {
          axios.get('/settings')
            .then(response => {
                this.settings = response.data.settings
            })
        }
      },
      filterSetting (name) {
        return this.settings.filter(item => item.name === name)[0].value
      },
    },
    mounted() {
      if (this.isAdmin) {
        this.submitAdminPayment()
        this.steps.step1 = false
        this.steps.step2 = false
        this.steps.step3 = true
      } else {
        this.getWalletAddress('btc');
        this.getSettings();
      }
    }
  };
</script>

<style scoped lang="scss">
  .copy-address {

    /*  float: right; */
    position: relative;
    top: 5px;
    /* right: 25px; */
    font-size: 19px;
    left: 10px;
  }

  .align-payment-center {
    display: flex;
    align-items: center;
  }
  
  .payment-text {
    p {
      font-size: 19px;
      font-weight: 300;
    }
    strong {
      font-size: 15px;
      font-weight: bold;
    }
  }

  .dashboard-payment {
    max-width: 850px;
    margin: 0 auto;
  }

  .payment-row {
    margin-top: 40px;
    p {
      span {
        cursor: pointer;
        position: relative;
        top: 6px;
      }
    }
  }

  .payment-inner-center-box {
    max-width: 500px;
    margin: 0 auto;
    small {
      font-size: 12px;
      font-weight: 300;
      line-height: 1;
      /*text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 290px;*/
      display: inline-block;
    }
  }

  .step-3 {
    position: relative;
    min-height: 80vh;
    h2 {
      text-transform: uppercase;
      font-size: 64px;
      font-weight: bold;
      margin: 0;
    }
  }
  
  .step-3-contact {
    margin-top: 40px;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
  }
  
  .strong-text {
    font-size: 15px;
    font-weight: bold;
  }

  .payment-succsess {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7FD451;
    width: 150px;
    height: 150px;
    margin: 15px auto;
    border-radius: 50%;
    i {
      color: #fff;
      font-size: 112px;
    }
    & + button {
      margin: 0;
    }
  }

  .payment-error {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5252;
    width: 150px;
    height: 150px;
    margin: 15px auto;
    border-radius: 50%;
    i {
      color: #fff;
      font-size: 112px;
    }
    & + button {
      margin: 0;
    }
  }

  .payment-waiting {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2196f3;
    width: 150px;
    height: 150px;
    margin: 15px auto;
    border-radius: 50%;
    i {
      color: #fff;
      font-size: 112px;
    }
    & + button {
      margin: 0;
    }
  }
  
  .custom-btn {
    width: 136px;
    height: 56px;
    font-weight: 300;
    font-size: 22px;
  }
  
  .grey-btn {
    background-color: #929292 !important;
    color: #fff;
  }
  //media
  @media (max-width: 600px) {
    .input-group.input-group--append-icon label, .input-group.input-group--prepend-icon label, .input-group.input-group--selection-controls label {
      max-width: 100%;
    }

    .payment-inner-center-box {
      max-width: initial;
      margin: initial;

      label {
        font-size: 0.8em;
      }
    }
    
    .text-ellipsis {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 290px;
    }
  }
</style>

<style lang="scss">
  @media (max-width: 600px) {
    /*.payment-inner-center-box {*/
      /*label {*/
        /*font-size: 11px;*/
      /*}*/
    /*}*/

    .input-group.input-group--append-icon label, .input-group.input-group--prepend-icon label, .input-group.input-group--selection-controls label {
      max-width: 100%;
    }

    .payment-inner-center-box {
      max-width: initial;
      margin: initial;

      label {
        font-size: 0.75em;
      }
    }

    label[for="payment-check"] {
      font-size: 11px;
      line-height: 24px;
      //text-overflow: ellipsis;
      //white-space: nowrap;
      //overflow: hidden;
    }
  }


</style>