<template>
  <div>
    <div class="title-line">
      <p>potfolio</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height align-payment-center">
      <div class="dashboard-payment">
        <v-alert outline :value="true" type="info" style="font-size: 20px;">
          Coming Soon...
        </v-alert>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Portfolio"
  }
</script>

<style scoped>

</style>