<template>
  <div>
    <v-snackbar
        :timeout="600000"
        :bottom="true"
        :right="true"
        v-model="profileRequired"
    >
      Please, provide full information
      <v-btn flat color="pink" @click.native="$store.dispatch('switchProfileRequired', false)">Close</v-btn>
    </v-snackbar>

    <v-snackbar
        :timeout="6000"
        :bottom="true"
        :right="true"
        v-model="profileSaved"
    >
      Profile data was saved
      <v-btn flat color="pink" @click.native="profileSaved = false">Close</v-btn>
    </v-snackbar>
  
    <div class="title-line">
      <p>profile</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height container-top-margin">
      <div>
        <h3 class="portal-pages__heading mt-0">profile</h3>

        <div class="clearfix">
          <!--<aside class="profile-sidebar">
            <img src="../assets/images/dashboard/profile-image.jpg" alt="image">
            <nav class="profile-nav">
              <a href="#">My level</a>
              <a href="#">Friends</a>
              <a href="#">Recent Signals</a>
              <a href="#">Communities</a>
            </nav>
          </aside>-->

          <main class="profile-main">
            <div class="profile-overview">
              <h2 class="mdc-typography--display1">{{form.telegram_name}}</h2>
            </div>

            <div class="clearfix">
              <!--<div class="input-box input-country">-->
                <!--<h4 class="mdc-typography&#45;&#45;subheading2 mt-0">Country</h4>-->
                <!--<v-select-->
                    <!--item-text="name"-->
                    <!--item-value="code"-->
                    <!--:items="phonesData"-->
                    <!--v-model="form.country"-->
                <!--&gt;</v-select>-->
              <!--</div>-->

              <div class="input-box">
                <h4 class="mdc-typography--subheading2 mt-0">Telegram UserName</h4>
                <v-text-field
                        v-model="form.telegram_name"
                        required
                ></v-text-field>
                <small>without @</small>
              </div>

              <div class="input-box input-right">
                <h4 class="mdc-typography--subheading2 mt-0">Phone</h4>
                <v-text-field
                    v-model="form.phone"
                ></v-text-field>
              </div>
            </div>

            <!--<div class="clearfix mt-4">-->
              <!--<div class="input-box">-->
                <!--<h4 class="mdc-typography&#45;&#45;subheading2 mt-0">First Name</h4>-->
                <!--<v-text-field-->
                    <!--v-model="form.first_name"-->
                    <!--required-->
                <!--&gt;</v-text-field>-->
              <!--</div>-->

              <!--<div class="input-box input-right">-->
                <!--<h4 class="mdc-typography&#45;&#45;subheading2 mt-0">Last Name</h4>-->
                <!--<v-text-field-->
                    <!--v-model="form.last_name"-->
                    <!--required-->
                <!--&gt;</v-text-field>-->
                <!--&lt;!&ndash;<small>Input field with prefixes and suffixes</small>&ndash;&gt;-->
              <!--</div>-->
            <!--</div>-->

            <div class="clearfix mt-4">
              <!--<div class="input-box">-->
                <!--<h4 class="mdc-typography&#45;&#45;subheading2 mt-0">Email</h4>-->
                <!--<v-text-field-->
                        <!--v-model="form.email"-->
                        <!--required-->
                <!--&gt;</v-text-field>-->
              <!--</div>-->

            </div>

            <div v-if="isMemberAdmin">

            <div class="clearfix mt-4">
                <div class="input-box">
                  <h4 class="mdc-typography--subheading2 mt-0">Host</h4>
                  <v-text-field
                      readonly
                      v-model="changeHost"
                      required
                  ></v-text-field>
                </div>

                <div class="input-box input-right">
                  <h4 class="mdc-typography--subheading2 mt-0">Channel premium</h4>
                  <v-text-field
                      v-model="form.owner_data.channel_premium"
                  ></v-text-field>
                </div>
              </div>

              <!--<div class="clearfix mt-4">-->
                <!--<div class="input-box">-->
                  <!--<h4 class="mdc-typography&#45;&#45;subheading2 mt-0">Channel log</h4>-->
                  <!--<v-text-field-->
                      <!--v-model="form.owner_data.channel_log"-->
                      <!--required-->
                  <!--&gt;</v-text-field>-->
                  <!--&lt;!&ndash;<small>Input field with prefixes and suffixes</small>&ndash;&gt;-->
                <!--</div>-->
              <!--</div>-->
            </div>

            <!--<div v-if="role === 'ROLE_USER'" class="text-center divider-40">-->
              <!--<v-btn color="danger" @click="switchRole">Switch role admin</v-btn>-->
            <!--</div>-->

            <!--<div v-if="role === 'ROLE_ADMIN'" class="text-center divider-40">-->
              <!--<v-btn color="danger" @click="switchRole">Switch role user</v-btn>-->
            <!--</div>-->

            <div class="text-center divider-40">
              <v-btn color="info" @click="createUser">save</v-btn>
            </div>

            <!--<hr class="profile-divider divider-40">
            <h4 class="mdc-typography&#45;&#45;subheading2 mt-0">My Experience</h4>

            <div class="profile-experience">
                  <div class="medals text-right">
                    <img src="../assets/images/dashboard/profile/cup.png" alt="medal">
                    <img src="../assets/images/dashboard/profile/medal.png" alt="medal">
                  </div>
                  <small class="medals text-right">Experiens: <span class="text-green">+103</span></small>

              <div class="experience-progress">
                <div class="experience-progress-icon">
                  <img src="../assets/images/dashboard/profile/medal2.png" alt="start">
                </div>

                <div class="progress-bar">
                  <progress-bar size="large" :val="80"></progress-bar>
                </div>

                <div class="experience-progress-icon">
                  <img src="../assets/images/dashboard/profile/dest.png" alt="finish">
                </div>
              </div>
            </div>

            <hr class="profile-divider">
            <h4 class="mdc-typography&#45;&#45;subheading2 mt-0">Last Activity</h4>

            <div class="profile-date">
              <p class="mdc-typography&#45;&#45;body1">Thuesday, April 17,<br/>2018</p>
            </div>-->

            <!--<hr class="profile-divider">-->
          </main>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import PhonesData from '../components/PhonesData';
  import ProgressBar from 'vue-simple-progress';
  import axios from 'axios';
  import AuthService from '../services/Auth';

  const authService = new AuthService();

  export default {
    name: 'Profile',
    components: {
      ProgressBar
    },

    computed: {
      profileRequired() {
        return this.$store.getters.profileRequired;
      },
      isMemberAdmin() {
          return authService.getRoleUserRole().name === 'ROLE_ADMIN'
      },
      changeHost() {
          if (this.form.telegram_name === null) {
              this.form.telegram_name = ''
          }

          return this.form.owner_data.host = this.form.telegram_name + '.easygram.company'
      },
    },

    data() {
      return {
        role: authService.getUser().roles[0].name,
        profileSaved: false,
        id: authService.getUser().id,
        phonesData: Object.values(PhonesData),
        form: {
          telegram_name: undefined,
          phone: undefined,
          owner_data: {
              host: undefined,
              channel_premium: undefined,
              channel_log: undefined,
          }
        },
//        owner: {
//            host: undefined,
//            channel_premium: undefined,
//            channel_log: undefined,
//        }
      }
    },

    methods: {
      createUser () {
//        if (this.isMemberAdmin === true) {
//            this.form.owner_data = this.owner
//        }

        axios.post('/update-profile', this.form)
          .then(response => {
            this.profileSaved = true;
            // window.location.href = '/profile'


            // this.$toastr('success', 'Profile data was saved')
          })
      },
      switchRole () {
          if (this.role === 'ROLE_USER') {
              this.form.role = Object.assign({}, { id: 1})
          }

          if (this.role === 'ROLE_ADMIN') {
              this.form.role = Object.assign({}, { id: 2})
          }

          axios.post('/update-profile', this.form)
              .then(response => {
                  this.profileSaved = true;
                  // window.location.href = '/profile'

                  console.log(response.data);

                  authService.setUser(response.data);

                  location.reload();

//                  this.$toastr('success', 'Role update. Please logout and login')
              })
      },
      getEntity () {
        axios.get('/profile')
          .then(response => {
            this.form = response.data.user
          })

      }
    },

    mounted() {
      this.getEntity();
    }
  };
</script>

<style scoped lang="scss">
  //$profile-accent-color: #884dee;
  //$profile-accent-color: #03A9F4;
  $profile-accent-color: rgb(121,81,212);

  .profile-sidebar {
    float: left;
    img {
      display: block;
      width: 400px;
      height: 400px;
    }
  }

  .profile-nav {
    a {
      box-sizing: border-box;
      display: block;
      width: 400px;
      background-color: #e3e3e3;
      color: #909090;
      margin-bottom: 1px;
      padding: 7px 15px;
      font-size: 18px;
      &:hover {
        color: $profile-accent-color;
      }
    }
  }

  .profile-main {
    float: left;
    width: 100%;
    max-width: 810px;
    margin-left: 20px;
  }

  .profile-overview {
    h2 {
      position: relative;
      margin-top: 0;
      border-bottom: 1px solid $profile-accent-color;
      padding: 0 50px 5px 10px;
      font-size: 44px;
      font-weight: 300;
      &::after {
        content: 'Overview';
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 12px;
        color: $profile-accent-color;
        line-height: 1;
      }
    }
  }

  .input-box {
    float: left;
    width: 280px;
    h4 {
      color: $profile-accent-color;
      margin-bottom: 0;
      font-size: 21px;
      text-transform: uppercase;
    }
    small {
      position: relative;
      top: -30px;
      font-size: 11px;
    }
  }

  .input-right {
    margin-left: 40px;
  }

  .profile-divider {
    border: none;
    height: 1px;
    background-color: $profile-accent-color;
    & + h4 {
      color: $profile-accent-color;
      font-size: 21px;
    }
  }

  .profile-date {
    p {
      font-size: 18px;
    }
  }

  .medals {
    margin-right: 75px;
    img {
      height: 44px;
    }
    & + small {
      display: block;
    }
  }

  .experience-progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .experience-progress-icon {
    img {
      height: 44px;
    }
  }

  .progress-bar {
    width: 78%;
    margin-top: 25px;
  }
  //media
  @media (max-width: 1300px) {
    .profile-sidebar {
      display: none;
    }

    .profile-main {
      float: none;
      max-width: initial;
      margin-left: 0;
    }
  }

  @media (max-width: 900px) {
    .input-box {
      width: 100%;
    }

    .input-right {
      margin-left: 0;
    }
  }
</style>

