<template>
  <div>

    <div class="title-line">
      <p>referrals</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height container-top-margin">
      <!--<div class="section-title">-->
        <!--<p class="portal-widget__heading mdc-typography&#45;&#45;subheading2">-->
          <!--Referrails-->

          <!--&lt;!&ndash;<v-text-field&ndash;&gt;-->
              <!--&lt;!&ndash;readonly&ndash;&gt;-->
              <!--&lt;!&ndash;v-model="referralLink"&ndash;&gt;-->
              <!--&lt;!&ndash;placeholder="TX ID"&ndash;&gt;-->
          <!--&lt;!&ndash;&gt;</v-text-field>&ndash;&gt;-->
        <!--</p>-->
      <!--</div>-->
      <h3 class="portal-pages__heading mt-0">Referrals</h3>
      <div class="referals-text">
        <p class="">In the next table you can see all your referrals, From members you invite to members that actually buy under your invatation</p>
        <p class="">
          Start Gain profits from telling others about our services
          <span id="referralLink-wrapper"><input readonly type="url" v-model="referralLink"><i v-clipboard:copy="referralLink" class="material-icons">file_copy</i></span>
        </p>
      </div>

      <div class="divider-40"></div>

      <div class="flex-wrapper-around" >
        <div class="info-box">
          <div class="flex-wrapper-between">
            <h5 class="mdc-typography--subheading2 portal-margin-none portal-text-medium">Total Registered</h5>
          </div>

          <div class="flex-wrapper-between align-center">
            <radial-progress-bar
                :diameter="80"
                 startColor="#FF6384"
                 stopColor="#FF6384"
                 innerStrokeColor="#fbd9da"
                 :completed-steps="registeredTotal"
                 :total-steps="100"
                 :strokeWidth="6">
              <p style="margin: 0 auto; color: #FF6384;">{{registeredTotal}}</p>
            </radial-progress-bar>
            <div class="text-right">
              <h2 class="m0 fw500">{{registeredTotal}}</h2>
              <h6 class="mdc-typography--caption portal-margin-none">Total members</h6>
            </div>
          </div>
        </div>

        <div class="info-box">
          <div class="flex-wrapper-between">
            <h5 class="mdc-typography--subheading2 portal-margin-none portal-text-medium">Total Visits</h5>
          </div>

          <div class="flex-wrapper-between align-center">
            <radial-progress-bar
                style="color:#7FD451;"
                :diameter="80"
                startColor="#00be5b"
                stopColor="#00be5b"
                innerStrokeColor="#caf2de"
                :completed-steps="visitsTotal"
                :total-steps="10000"
                :strokeWidth="6">
              <p style="margin: 0 auto; color: #00be5b;">{{visitsTotal}}</p>
            </radial-progress-bar>
            <div class="text-right">
              <h2 class="m0 fw500">{{visitsTotal}}</h2>
              <h6 class="mdc-typography--caption portal-margin-none">Referral Visits</h6>
            </div>
          </div>

          <!--<div class="flex-wrapper-between align-center">-->
            <!--<div class="trending-rounded-box">-->
              <!--<span>32% <i class="material-icons">trending_up</i></span>-->
            <!--</div>-->
            <!--<div class="text-right">-->
              <!--<h2 class="m0 fw500">{{visitsTotal}}</h2>-->
              <!--<h6 class="mdc-typography&#45;&#45;caption portal-margin-none">Visits today</h6>-->
            <!--</div>-->
          <!--</div>-->
          <!--<progress-bar :bar-color="'#00be5b'" :bg-color="'#caf2de'" size="6" :val="20"></progress-bar>-->
        </div>


        <div class="info-box">
          <div class="flex-wrapper-between">
            <h5 class="mdc-typography--subheading2 portal-margin-none portal-text-medium">Total Revenue</h5>
          </div>

          <div class="flex-wrapper-between align-center">
            <radial-progress-bar :diameter="80"
               startColor="#f9aa20"
               stopColor="#f9aa20"
               innerStrokeColor="#efdbb8"
               :completed-steps="payedTotal"
               :total-steps="100"
               :strokeWidth="6">
              <p style="margin: 0 auto; color: #f9aa20">{{payedTotal}}</p>
            </radial-progress-bar>
            <div class="text-right">
              <h2 class="m0 fw500">{{payedTotal}}</h2>
              <h6 class="mdc-typography--caption portal-margin-none">Total Purchased</h6>
            </div>
          </div>
        </div>

        <!--<div class="divider-40"></div>-->

      </div>

      <div class="divider-40"></div>

      <div class="flex-wrapper">
        <div class="table-responsive-vertical">
          <table id="table" class="table table-responsive-v2">
            <thead>
              <tr>
                <th v-for="title in headers" >{{ title.text }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in desserts" :key="index">
                <td :data-title="headers[0].text">{{ item.user.telegram_name }}</td>
                <td :data-title="headers[1].text">{{ item.package.name }}</td>
                <td :data-title="headers[2].text">
                  <template v-if="parseInt(item.status) === 0">
                    <v-chip color="primary" text-color="white">Pending</v-chip>
                  </template>
                  <template v-if="parseInt(item.status) === 1">
                    <v-chip color="green" text-color="white">Success</v-chip>
                  </template>
                  <template v-if="parseInt(item.status) === 2">
                    <v-chip color="red" text-color="white">Failed</v-chip>
                  </template>
                </td>
                <td :data-title="headers[3].text">
                  <template v-if="item.address">
                    <div class="wrap">{{item.address.value}}</div>
                  </template>
                </td>
                <td :data-title="headers[4].text">{{ item.price }}</td>
                <td :data-title="headers[5].text">{{ item.created_at }}</td>
                <td :data-title="headers[6].text">{{ ((item.price / 100) * 10) }} BTC</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--<v-data-table-->
            <!--:headers="headers"-->
            <!--:items="desserts"-->
            <!--hide-actions-->
            <!--:loading="loading"-->
            <!--class="elevation-1"-->
        <!--&gt;-->
          <!--<template slot="items" slot-scope="props">-->
            <!--<td>{{ item.user.telegram_name }}</td>-->
            <!--<td>{{ item.package.name }}</td>-->
            <!--<td>-->
              <!--<template v-if="parseInt(item.status) === 0">-->
                <!--<v-chip color="primary" text-color="white">Pending</v-chip>-->
              <!--</template>-->
              <!--<template v-if="parseInt(item.status) === 1">-->
                <!--<v-chip color="green" text-color="white">Success</v-chip>-->
              <!--</template>-->
              <!--<template v-if="parseInt(item.status) === 2">-->
                <!--<v-chip color="red" text-color="white">Failed</v-chip>-->
              <!--</template>-->
            <!--</td>-->
            <!--<td>-->
              <!--<template v-if="item.address">-->
                <!--<div class="wrap">{{item.address.value}}</div>-->
              <!--</template>-->
            <!--</td>-->
            <!--<td>{{ item.price }}</td>-->
            <!--<td>{{ item.created_at }}</td>-->
            <!--<td>{{ ((item.price / 100) * 10) }} BTC</td>-->
          <!--</template>-->
        <!--</v-data-table>-->

        <div class="divider-40"></div>
      </div>
    </div>
  </div>
</template>

<script>
import RadialProgressBar from 'vue-radial-progress';
import ProgressBar from 'vue-simple-progress';
import axios from 'axios'
import AuthService from '../services/Auth';
import moment from 'moment';

const authService = new AuthService()

export default {
  name: 'Referrals',

  components: {
    RadialProgressBar,
    ProgressBar,
  },

  data () {
    let user = authService.getUser();

    let link = 'https://bitcollege.io/sign-up?ref=' + user.affiliate_id;

    return {
      referralLink: link,
      statistic: {},
      headers: [
        {
          text: 'User',
          value: 'user',
          sortable: false,
        },
        {
          text: 'Package',
          value: 'package',
          sortable: false,
        },
        {
          text: 'Status',
          value: 'status',
          sortable: false,
        },
        {
          text: 'Wallet',
          value: 'wallet',
          sortable: false,
        },
        {
          text: 'Price',
          value: 'price',
          sortable: false,
        },
        {
          text: 'Created At',
          value: 'created_at',
          sortable: false,
        },
        {
          text: 'Your Gain',
          value: 'your_gain',
          sortable: false,
        },
      ],
      desserts: [],
      loading: false,
      donutData1: [
        { label: 'Text 1', value: 58 },
        { label: 'Text 2', value: 42 },
      ],
      donutData2: [
        { label: '', value: 20 },
        { label: '', value: 80 },
      ],
    };
  },

  computed: {
    /** TOTAL's computed */

    registeredTotal: function () {
      return this.totalByKey('registered')
    },

    payedTotal: function () {
      return this.totalByKey('payed')
    },

    visitsTotal: function () {
      return this.totalByKey('visits')
    },

    /** TODAY's computed */

    registeredToday: function () {
      return this.todayByKey('registered')
    },

    visitsToday: function () {
      return this.todayByKey('visits')
    },

    payedToday: function () {
      return this.todayByKey('payed')
    }
  },

  methods: {
    totalByKey (key) {
      if (!this.statistic.hasOwnProperty(key)) return 0;
      if (!this.statistic[key].hasOwnProperty('total')) return 0;

      return this.statistic[key].total;
    },

    todayByKey (key) {
      if (!this.statistic.hasOwnProperty(key)) return 0;
      if (!this.statistic[key].hasOwnProperty('groups')) return 0;

      let total = 0;
      for (let day in this.statistic[key].groups) {
        if (!this.statistic[key].groups.hasOwnProperty(day)) return false;

        if (day === moment().format("YYYY-MM-DD")) {
          total += this.statistic[key].groups[day];
        }
      }

      return total;
    },

    clipboardSuccessHandler () {
      // this.$toastr('success', 'Copied to clipboard')
    },

    getAllTransactions () {
      axios.get('/referrals/transactions')
        .then(response => this.desserts = response.data.transactions)
    },

    getStatistic () {
      axios.get('/referrals/statistic')
        .then(response => this.statistic = response.data.statistic)
    }
  },

  mounted() {
    this.getStatistic()

    this.getAllTransactions()
    // this.changeTableFieldsByRole()
  }
};
</script>

<style scoped lang="scss">
  #referralLink-wrapper {
    position: relative;
    input {
      background-color: #7FD451;
      color: #fff;
      padding: 7px 30px 7px 10px;
      width: 280px;

      font-size: 14px;
    }
    i {
      position: absolute;
      top: 6px;
      right: 5px;
      font-size: 18px;
      color: #fff;
      &:hover {
        cursor: pointer;
        opacity: .7;
      }
    }
  }
  
  .referals-text {
    font-size: 21px;
    font-weight: 300;
  }

  .info-box {
    height: 180px;
    background-color: #fff;
    width: 23%;
    min-width: 270px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    & > div:first-child {
      margin-bottom: 20px;
    }
  }

  #donut1, #donut2 {
    width: 100px;
    height: 100px;
  }

  .trending-rounded-box {
    height: 100px;
    span {
      display: inline-block;
      font-size: 12px;
      color: #fff;
      line-height: 1;
      background-color: #00be5b;
      padding: 2px 10px;
      border-radius: 12px;
      margin-top: 30px;
      i {
        vertical-align: middle;
        font-size: 16px;
      }
    }
  }

  @media (max-width: 600px) {
    #referralLink-wrapper {
      input {
        margin-top: 20px;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
</style>