<template>
  <div>
    <div class="title-line">
      <p>tools</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height">
      <!--<div class="section-title">-->
      <!--<p class="portal-widget__heading mdc-typography&#45;&#45;subheading2">Your Last Information based on the last 30 days</p>-->
      <!--</div>-->

      <div class="mdc-layout-grid__inner">
        <div class="portal-widget mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <p class="portal-widget__heading mdc-typography--subheading2">Export From Telegram Groups</p>
          <div class="portal-widget__card portal-widget__card--rounded portal-display-flex__flexed">
            <div class="container fluid">
              <v-flex xs8>
                <v-text-field
                    v-model="group"
                    color="cyan darken"
                    placeholder="Group link"
                    :loading="custom"
                >
                  <!--<v-progress-linear-->
                      <!--v-if="custom"-->
                      <!--slot="progress"-->
                      <!--:value="progress"-->
                      <!--:color="color"-->
                      <!--height="7"-->
                  <!--&gt;</v-progress-linear>-->
                </v-text-field>
                <v-select
                    :items="options"
                    v-model="selected"
                    label="Select"
                    class="input-group--focused"
                ></v-select>

                <v-btn color="info" class="ml-0 mt-4 custom-btn" style="bottom: 20px;" @click="submitGroup">Get group members</v-btn>



              </v-flex>
            </div>

          </div>
        </div>

        <div class="portal-widget mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <p class="portal-widget__heading mdc-typography--subheading2">Cryptogram Sync</p>
          <div class="portal-widget__card portal-widget__card--rounded portal-display-flex__flexed">
            <v-btn color="info" class="ml-0 mt-4 custom-btn" style="left: 20px; bottom: 20px;" @click="cryptogramSync">Sync Users</v-btn>
          </div>
        </div>


        <v-snackbar
            :timeout="6000"
            :bottom="true"
            :right="true"
            v-model="snackbar"
        >
          Done
          <v-btn flat color="pink" @click.native="snackbar = false">Close</v-btn>
        </v-snackbar>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: "Tools",

    data: () => ({
      group: '',
      selected: 1,
      snackbar: false,
      value: '',
      custom: false,
      options: [
        { value: 1, text: 'Only Telegram ID' },
        { value: 2, text: 'Only Username' },
        { value: 3, text: 'Telegram ID | FirstName | Lastname' },
        { value: 4, text: 'Telegram ID | UserName' },
      ],
    }),

    computed: {
      progress () {
        return Math.min(100, this.value.length * 10)
      },
      color () {
        return ['error', 'warning', 'success'][Math.floor(this.progress / 40)]
      }
    },

    methods: {
      submitGroup () {
        this.custom = true;

        axios({
          method: 'post',
          url: '/proto/send-group',
          data: {
            group: this.group,
            option: this.selected,
          },
          responseType: 'arraybuffer'
        }).then(response => {
          console.log(response)
          let blob = new Blob([response.data],{type: response.headers['content-type']});
          let link = document.createElement('a');
          link.href = window.URL.createObjectURL(blob);
          link.download = "Filename";
          link.click();

          this.snackbar = true;
          this.custom = false;
        })
      },

      cryptogramSync () {
        axios({
          method: 'post',
          url: '/cryptogram-sync',
          responseType: 'arraybuffer'
        }).then(response => {
          if (response === undefined) {
            return alert('Error')
          } else {
            let blob = new Blob([response.data],{type: response.headers['content-type']});
            let link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = "Filename";
            link.click();

            this.snackbar = true;
          }

          // this.items = response.data.settings
        })
      }
    }
  }
</script>

<style scoped>

</style>