<template>
  <div>
    <div class="title-line">
      <p>transactions</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height container-top-margin">
      <h3 class="portal-pages__heading mt-0">Transactions</h3>

      <div class="section-title">
        <p class="">In the next table you can see all payments History with Easy Gram, you can check the status of each current payment</p>
      </div>

      <div class="divider-40"></div>
      <!--<div class="section-title">-->
        <!--<p class="portal-widget__heading mdc-typography&#45;&#45;subheading2">Your Last Information based on the last 30 days</p>-->
      <!--</div>-->

      <v-layout row wrap>
        <v-flex xs5>
          <v-flex xs6>
            <v-subheader>Search</v-subheader>
          </v-flex>
          <v-flex xs6>
            <v-text-field
                v-model="filterData.search"
                placeholder="TX ID"
            ></v-text-field>
          </v-flex>
        </v-flex>
        <v-flex xs5>
          <v-flex xs6>
            <v-subheader>Status</v-subheader>
          </v-flex>
          <v-flex xs6>
            <v-select
                :items="statuses"
                v-model="filterData.status_id"
                label="Select"
                single-line
            ></v-select>
          </v-flex>
        </v-flex>
      </v-layout>

      <div class="mdc-card--portal-fullheight mdc-card--portal-space-between">
        <v-dialog v-model="dialog" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="headline">Edit Item</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.finished_date" label="Finished Date"></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
              <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <!--<v-data-table
            :headers="headers"
            :items="desserts"
            hide-actions
            :loading="loading"
            class="elevation-1"
        >
          <template slot="items" slot-scope="props">
            <td v-if="isMemberAdmin">{{ props.item.type }}</td>
            <td v-if="isMemberAdmin">{{ props.item.user.telegram_name }}</td>
            <td>{{ props.item.package.name }}</td>
            <td>{{ props.item.tx_id }}</td>
            <td>
              <template v-if="parseInt(props.item.status) === 0">
                <v-chip color="primary" text-color="white">Pending</v-chip>
              </template>
              <template v-if="parseInt(props.item.status) === 1">
                <v-chip color="green" text-color="white">Success</v-chip>
              </template>
              <template v-if="parseInt(props.item.status) === 2">
                <v-chip color="red" text-color="white">Failed</v-chip>
              </template>
            </td>
            <td  v-if="isMemberAdmin">
              <template v-if="props.item.address">
                <div class="wrap">{{props.item.address.value}}</div>
              </template>
            </td>
            <td>{{ props.item.price }}</td>
            <td v-if="isMemberAdmin">{{ props.item.fee }}</td>
            <td v-if="isMemberAdmin">{{ props.item.is_correct_fee }}</td>
            <td>{{ props.item.created_at }}</td>
            <td v-if="isMemberAdmin">{{ props.item.updated_at }}</td>
            <td>{{ props.item.finished_date }}</td>
            <td v-if="isMemberAdmin">
              <v-btn icon class="mx-0" @click="editItem(props.item)">
                <v-icon color="teal">edit</v-icon>
              </v-btn>
              <v-btn icon class="mx-0" @click="deleteItem(props.item)">
                <v-icon color="pink">delete</v-icon>
              </v-btn>
            </td>
            &lt;!&ndash;<td class="text-xs-right">{{ props.item.calories }}</td>&ndash;&gt;
            &lt;!&ndash;<td class="text-xs-right">{{ props.item.fat }}</td>&ndash;&gt;
            &lt;!&ndash;<td class="text-xs-right">{{ props.item.carbs }}</td>&ndash;&gt;
            &lt;!&ndash;<td class="text-xs-right">{{ props.item.protein }}</td>&ndash;&gt;
            &lt;!&ndash;<td class="text-xs-right">{{ props.item.iron }}</td>&ndash;&gt;
          </template>
        </v-data-table>-->

        <!--table responsive vertical-->
        <div class="table-responsive-vertical">
          <table id="table" class="table table-responsive-v2">
            <thead>
            <tr v-if="isMemberAdmin">
              <th v-for="title in headers" >{{ title.text }}</th>
            </tr>
            <tr v-if="!isMemberAdmin">
              <th v-for="title in headers" v-if="!title.admin">{{ title.text }}</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(item, index) in desserts" :key="index">
              <td :data-title="headers[0].text" v-if="isMemberAdmin">{{ item.type }}</td>
              <td :data-title="headers[1].text" v-if="isMemberAdmin">{{ item.user.telegram_name }}</td>
              <td :data-title="headers[2].text">{{ item.package.name }}</td>
              <td :data-title="headers[3].text" class="table-data-width"><span>{{ item.tx_id }}</span></td>
              <td :data-title="headers[4].text">
                <template v-if="parseInt(item.status) === 0">
                  <v-chip color="primary" text-color="white">Pending</v-chip>
                </template>
                <template v-if="parseInt(item.status) === 1">
                  <v-chip color="green" text-color="white">Success</v-chip>
                </template>
                <template v-if="parseInt(item.status) === 2">
                  <v-chip color="red" text-color="white">Failed</v-chip>
                </template>
              </td>
              <td :data-title="headers[5].text" v-if="isMemberAdmin">
                <template v-if="item.address">
                  <div class="wrap">{{item.address.value}}</div>
                </template>
              </td>
              <td :data-title="headers[6].text">{{ item.price }}</td>
              <td :data-title="headers[7].text" v-if="isMemberAdmin">{{ item.fee }}</td>
              <td :data-title="headers[8].text" v-if="isMemberAdmin">{{ item.is_correct_fee }}</td>
              <td :data-title="headers[9].text">{{ item.created_at }}</td>
              <td :data-title="headers[10].text" v-if="isMemberAdmin">{{ item.updated_at }}</td>
              <td :data-title="headers[11].text">{{ item.finished_date || '--'}}</td>
              <td v-if="isMemberSuperAdmin" :data-title="headers[12].text">{{ item.owner.profile.telegram_name }}</td>
              <td v-if="isMemberSuperAdmin" :data-title="headers[13].text">
                <v-btn icon class="mx-0" @click="editItem(item)">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
              </td>
              <td :data-title="headers[12].text" v-if="isMemberAdmin">
                <v-btn icon class="mx-0" @click="editItem(item)">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
                <v-btn icon class="mx-0" @click="deleteItem(item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--table responsive vertical end-->
      </div>
      
      <div class="text-xs-center mt-3" v-if="desserts.length >= perPage">
        <v-pagination :length="last_page" v-model="page"></v-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import AuthService from '../services/Auth';

const authService = new AuthService();


export default {
  name: 'Transactions',

  data() {
    return {
      filterData: {
        search: '',
        status_id: 0,
      },
      dialog: false,
      editedIndex: -1,
      editedItem: {
        finished_date: undefined,
      },
      defaultItem: {
        finished_date: undefined,
      },
      loading: true,
      page: 1,
      total: 0,
      filterPage: 1,
      last_page: 1,
      perPage: 50,
      headers: [],
      desserts: [],
      dessertsAdmin: [],
      statuses: [
        {
          text: 'Pending',
          value: 99
        },
        {
          text: 'Success',
          value: 1
        },
        {
          text: 'Failed',
          value: 2
        },
      ]
    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    },

    page() {
      this.getAllTransactions()
    },

    filterData: {
      handler: function () {
        this.getAllTransactions()
      },
      deep: true
    }
  },

  computed: {
    isMemberAdmin() {
      return authService.getRoleUserRole().name === 'ROLE_ADMIN'
    },
    isMemberSuperAdmin() {
        return authService.getRoleUserRole().name === 'ROLE_SUPER_ADMIN'
    },
  },

  methods: {
    editItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.desserts.indexOf(item)
      confirm('Are you sure you want to delete this item?') && axios.delete('/transaction-delete/' + item.id)
        .then(() => {
          this.desserts.splice(index, 1)
        })
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
      axios.post('/transaction/' + this.editedItem.id, this.editedItem)
        .then(response => {
          if (this.editedIndex > -1) {
            Object.assign(this.desserts[this.editedIndex], this.editedItem)
          } else {
            this.desserts.push(this.editedItem)
          }
          this.close()
        });
    },

    formattedOwner () {
        this.desserts.forEach(( item, index ) => {
            if ( item.owner === null ) {
                this.desserts[index].owner = {
                    profile: {
                        telegram_name: null
                    }
                }
            }
        })
    },

    getAllTransactions() {
        this.loading = true
        axios.post('/transactions-filter?page=' + this.page, this.filterData)
            .then(response => {
                this.desserts = response.data.transactions.data
                this.formattedOwner()
                this.total = response.data.transactions.total
                this.last_page = response.data.transactions.last_page
                this.page = response.data.transactions.current_page

                // admin users payments
//                this.desserts = response.data.transactions.my.data
//                this.total = response.data.transactions.my.total
//                this.last_page = response.data.transactions.my.last_page
//                this.page = response.data.transactions.my.current_page

                this.loading = false
            })
    },
  },

  mounted() {
    this.getAllTransactions()

    this.headers =
      [
        {
          text: 'Type',
          value: 'type',
          sortable: false,
          admin: true,
        },
        {
          text: 'User',
          value: 'user',
          sortable: false,
          admin: true,
        },
        {
          text: 'Package',
          value: 'package',
          sortable: false,
          admin: false,
        },
        {
          text: 'Tx ID',
          value: 'tx_id',
          sortable: false,
          admin: false,
        },
        {
          text: 'Status',
          value: 'status',
          sortable: false,
          admin: false,
        },
        {
          text: 'Wallet',
          value: 'wallet',
          sortable: false,
          admin: true,
        },
        {
          text: 'Price',
          value: 'price',
          sortable: false,
          admin: false,
        },
        {
          text: 'Fee',
          value: 'fee',
          sortable: false,
          admin: true,
        },
        {
          text: 'Is Correct Fee',
          value: 'is_correct_fee',
          sortable: false,
          admin: true,
        },
        {
          text: 'Created At',
          value: 'created_at',
          sortable: false,
          admin: false,
        },
        {
          text: 'Updated At',
          value: 'updated_at',
          sortable: false,
          admin: true,
        },
        {
          text: 'Finished Date',
          value: 'finished_date',
          sortable: false,
          admin: false,
        }
      ]

      if (this.isMemberSuperAdmin) {
          this.headers.push(
              {
                  text: 'Owner',
                  value: 'owner',
                  sortable: false,
              },
              {
                  text: 'Actions',
                  sortable: false,
              })
      } else {
          this.headers.push(
              {
                  text: 'Actions',
                  sortable: false,
              })
      }
  }
};
</script>

<style scoped lang="scss">
  .section-title {
    p {
      font-size: 21px;
    }
  }


</style>