<template>
  <div>
    <div class="title-line">
      <p>users</p>
    </div>

    <div class="mdc-layout-grid portal-dashboard screen-height">
      <!--<div class="section-title">-->
        <!--<p class="portal-widget__heading mdc-typography&#45;&#45;subheading2">Your Last Information based on the last 30 days</p>-->
      <!--</div>-->

      <v-layout row wrap>
        <v-flex xs5>
          <v-flex xs6>
            <v-subheader>Search</v-subheader>
          </v-flex>
          <v-flex xs6>
            <v-text-field
                v-model="filterData.search"
                placeholder="email/username/phone"
            ></v-text-field>
          </v-flex>
        </v-flex>
        <v-flex xs5>
          <v-flex xs6>
            <v-subheader>Role</v-subheader>
          </v-flex>
          <v-flex xs6>
            <v-select
                item-text="display_name"
                item-value="id"
                :items="roles"
                v-model="filterData.role_id"
                label="Select"
                single-line
            ></v-select>
          </v-flex>
        </v-flex>
      </v-layout>

      <div class="mdc-card portal-widget__card portal-widget__card--rounded mdc-card--portal-fullheight mdc-card--portal-space-between">
        <v-dialog v-model="dialog" max-width="500px">
          <v-btn slot="activator" color="primary" dark class="mb-2">New User</v-btn>
          <v-card>
            <v-card-title>
              <span class="headline">Edit Item</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                    <v-text-field v-model="editedItem.first_name" label="First Name"></v-text-field>
                    <v-text-field v-model="editedItem.last_name" label="Last Name"></v-text-field>
                    <v-text-field v-model="editedItem.telegram_name" label="Telegram Name"></v-text-field>
                    <v-text-field v-model="editedItem.telegram_id" label="Telegram Id"></v-text-field>
                    <v-text-field v-model="editedItem.balance" label="Balance"></v-text-field>
                    <v-text-field v-model="editedItem.phone" label="Phone"></v-text-field>
                    <v-text-field v-model="editedItem.finished_date" label="finished date"></v-text-field>
                    <v-select
                        :items="roles"
                        v-if="editedItem.roles.length"
                        v-model="editedItem.role.id"
                        item-text="name"
                        item-value="id"
                        label="Roles"
                        single-line
                    ></v-select>
                    <v-select
                        :items="roles"
                        v-else
                        v-model="editedItem.roles"
                        item-text="name"
                        item-value="id"
                        label="Roles"
                        single-line
                    ></v-select>
                    <v-select
                        v-if="isMemberSuperAdmin"
                        :items="owners"
                        item-text="profile.telegram_name"
                        item-value="id"
                        v-model="editedItem.owner_id"
                        label="Owner id"
                        single-line
                    ></v-select>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
              <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <!--table responsive vertical-->
        <div class="table-responsive-vertical">
          <table id="table" class="table table-responsive-v2">
            <thead>
            <tr>
              <th v-for="title in headers" v-if="isObject(title)">
                {{ title.text }}
                <v-icon v-on:click="sort(title.value)" v-if="title.sortable" class="sortable-item">sort_by_alpha</v-icon>
              </th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="(item, index) in desserts" :key="index">

              <!--<td :data-title="headers[0].text">{{ item.email }}</td>-->
              <!--<td :data-title="headers[1].text">{{ item.first_name || '&#45;&#45;' }}</td>-->
              <!--<td :data-title="headers[2].text">{{ item.last_name || '&#45;&#45;' }}</td>-->
              <td :data-title="headers[2].text">{{ item.phone }}</td>
              <td :data-title="headers[3].text">{{ item.telegram_name || item.phone }}</td>
              <td :data-title="headers[4].text">{{ item.roles[0].name }}</td>
              <td :data-title="headers[5].text">{{ item.created_at || '--' }}</td>
              <td :data-title="headers[6].text">{{ item.finished_date || '--' }}</td>
              <!--<td :data-title="headers[7].text">{{ item.balance }}</td>-->
              <td v-if="isMemberSuperAdmin" :data-title="headers[8].text">{{ item.owner.profile.telegram_name }}</td>
              <td v-if="isMemberSuperAdmin" :data-title="headers[9].text">
                <v-btn icon class="mx-0" @click="editItem(item)">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
                <v-btn icon class="mx-0" @click="deleteItem(item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>
              <td v-else :data-title="headers[8].text">
                <v-btn icon class="mx-0" @click="editItem(item)">
                  <v-icon color="teal">edit</v-icon>
                </v-btn>
                <v-btn icon class="mx-0" @click="deleteItem(item)">
                  <v-icon color="pink">delete</v-icon>
                </v-btn>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--table responsive vertical end-->
      </div>

      <div class="divider-40"></div>

      <div class="text-xs-center">
        <v-pagination :length="last_page" v-model="page"></v-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import AuthService from '../services/Auth';

const authService = new AuthService();


export default {
  name: 'Users',

  data() {
    return {
      filterData: {
        search: '',
        role_id: 0,
      },
      owners: [],
      admins: [],
      dialog: false,
      editedIndex: -1,
      sortBy: null,
      sortDesc: false,
      editedItem: {
        finished_date: undefined,
        phone: undefined,
        telegram_id: undefined,
        last_name: undefined,
        telegram_name: undefined,
        first_name: undefined,
        email: undefined,
        balance: undefined,
        roles: [],
        role: {
          id: undefined
        },
        owner_id: undefined
      },
      defaultItem: {
          finished_date: undefined,
          phone: undefined,
          telegram_id: undefined,
          last_name: undefined,
          telegram_name: undefined,
          first_name: undefined,
          email: undefined,
          balance: undefined,
          roles: [],
          role: {
            id: undefined
          },
          owner_id: undefined
      },
      loading: true,
      page: 1,
      total: 0,
      filterPage: 1,
      last_page: 1,
      perPage: 50,
      headers: [],
      desserts: [],
      roles: []

    }
  },

  watch: {
    dialog(val) {
      val || this.close()
    },

    page() {
      this.getAllUsers()
    },

    sortDesc: function() {
      this.getAllUsers()
    },

    filterData: {
      handler: function () {
        this.getAllUsers()
      },
      deep: true
    }
  },

  computed: {
    isMemberAdmin() {
      return authService.getRoleUserRole().name === 'ROLE_ADMIN'
    },
    isMemberSuperAdmin() {
        return authService.getRoleUserRole().name === 'ROLE_SUPER_ADMIN'
    },
  },

  methods: {
    isObject(obj) {
      return (typeof obj === "object" && obj !== null) || typeof obj === "function";
    },

    sort (value) {
      this.sortDesc = !this.sortDesc;
      this.sortBy = value;
    },

    editItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.editedItem.role = Object.assign({}, item.roles[0])
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.desserts.indexOf(item)
      confirm('Are you sure you want to delete this item?') && axios.delete('/user-delete/' + item.id)
        .then(() => {
          this.desserts.splice(index, 1)
        })
    },

    getAllOwners () {
      axios.get('/owners')
          .then(response => {
              this.owners = response.data.owners
          })
    },

    getRoles () {
        axios.get('/roles')
            .then(response => {
                if (this.isMemberSuperAdmin) {
                    this.roles = response.data.roles
                } else {
                    response.data.roles.forEach( role => {
                        if (role.name !== 'ROLE_ADMIN' && role.name !== 'ROLE_SUPER_ADMIN') {
                            this.roles.push(role)
                        }
                    })
                }

            })
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
        if (this.isMemberSuperAdmin) {
//            this.editedItem.owner_id = this.editedItem.owner_id.id
        }
        if (this.editedIndex > -1) {
            axios.post('/user/' + this.editedItem.id, this.editedItem)
                .then(response => {
                    Object.assign(this.desserts[this.editedIndex], response.data)

                    this.close()
                });
        } else {
            axios.post('/user' , this.editedItem)
                .then(response => {

                    this.desserts.push(response.data)

                    this.close()
                });
        }

    },

    getAllAdmins () {
        this.loading = true
        axios.get('/admins')
            .then(response => {
                this.admins = response.data.admins

                this.loading = false
            })
    },

    formattedOwner () {
        this.desserts.forEach(( item, index ) => {
            if ( item.owner === null ) {
                this.desserts[index].owner = {
                    profile: {
                        telegram_name: null
                    }
                }
            }
        })
    },

    getAllUsers() {
      this.loading = true
      axios.post('/users-filter?page=' + this.page + (this.sortBy ? ('&sortBy=' + this.sortBy + '&sortDesc=' + this.sortDesc) : ''), this.filterData)
        .then(response => {
          this.desserts = response.data.users.data
          this.formattedOwner()
          this.total = response.data.users.total
          this.last_page = response.data.users.last_page
          this.page = response.data.users.current_page

          this.loading = false
        })
    },
  },

  mounted() {
    this.getAllUsers()
    this.getRoles()

      this.headers =
        [
          0,
          1,
          {
            text: 'Phone',
            value: 'phone',
            sortable: false,
          },
          // {
          //   text: 'Email',
          //   value: 'email',
          //   sortable: false,
          // },
          // {
          //   text: 'First Name',
          //   value: 'first_name',
          //   sortable: false,
          // },
          // {
          //   text: 'Last Name',
          //   value: 'last_name',
          //   sortable: false,
          // },
          {
            text: 'Telegram Name',
            value: 'telegram_name',
            sortable: false,
          },
          {
            text: 'Role',
            value: 'role',
            sortable: false,
          },
          {
            text: 'Created At',
            value: 'created_at',
            sortable: false,
          },
          {
            text: 'Finished Date',
            value: 'finished_date',
            sortable: true,
          },
          7,
          // {
          //   text: 'Balance',
          //   value: 'balance',
          //   sortable: false,
          // }
        ]

      if (this.isMemberSuperAdmin) {
          this.getAllOwners()
          this.headers.push( {
                  text: 'Owner',
                  value: 'owner',
                  sortable: false,
              },
              {
                  text: 'Actions',
                  sortable: false,
              })
      } else {
          this.headers.push(
              {
                  text: 'Actions',
                  sortable: false,
              })
      }
  }
};
</script>

<style scoped>
  .sortable-item {
    float: right;
    cursor: pointer;
  }
</style>