<template>
  <div>
    <header class="mdc-toolbar mdc-theme--text-primary-on-primary-dark mdc-theme--primary-dark-bg mdc-toolbar--portal-no-shrink">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-center">
          <img src="../../assets/images/portal-logo.png" alt="Portal" class="mdc-toolbar__logo">
        </section>
      </div>
    </header>
    <div class="mdc-list-group mdc-drawer__content portal-drawer-group portal-hide-scrollbars portal-navigation">
      <nav class="mdc-list portal-navigation-list">
        <div class="mdc-menu-anchor" v-for="(item, key) in firstMenu" :key="key">
          <router-link
              :to="item.href"
              v-bind:class="{
                'portal-menu-button': true,
                'mdc-button': true,
                'mdc-list-item--activated': (active_page == item.title)
              }"
          >
            <i class="material-icons portal-menu-button__icon" aria-hidden="true">{{item.icon}}</i>
            <span v-if="item.badge" class="portal-badge portal-badge--secondary portal-menu-button__badge">{{item.badge}}</span>
            {{item.title}}
          </router-link>
        </div>
      </nav>
    </div>

    <footer class="mdc-toolbar mdc-theme--text-primary-on-primary-dark mdc-theme--primary-dark-bg mdc-toolbar--portal-no-shrink">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
          <a id="portal-sidemenu-close-icon" href="#" class="material-icons mdc-toolbar__menu-icon">
          <span class="portal-navigation-list__text portal-sidenav-collapse-icon">
            chevron_left
          </span>
          </a>
        </section>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'CompactSideMenu',
  data() {
    return {
      active_page: 'Home',
      firstMenu: [
        {
          title: 'Dashboard', href: '/dashboard', icon: 'dashboard' //, badge: 4,
        },
        {
          title: 'Transactions', href: '/transactions', icon: 'compare_arrows'
        },
        {
          title: 'Referrals', href: '/referrals', icon: 'format_indent_increase'
        },
        {
          title: 'Profile', href: '/profile', icon: 'person',
        },
        {
          title: 'Payment', href: '/payment', icon: 'euro_symbol',
        },
      ],
    };
  },


};
</script>

<style scoped>

</style>