<template>
  <footer class="portal-footer mdc-toolbar mdc-theme--text-primary-on-primary-light mdc-theme--primary-light-bg mdc-toolbar--portal-no-shrink ">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <div class="mdc-toolbar__title">
          <small>
            © 2018 Easy Gram
          </small>
        </div>
      </section>
      <section v-if="false" class="mdc-toolbar__section mdc-toolbar__section--align-end">
        <a href="#" class="mdc-toolbar__icon mdc-theme--secondary">
          <small>
            <i class="fa fa-twitter"></i>
          </small>
        </a>
        <a href="#" class="mdc-toolbar__icon mdc-theme--secondary">
          <small>
            <i class="fa fa-facebook"></i>
          </small>
        </a>
        <a href="#" class="mdc-toolbar__icon mdc-theme--secondary">
          <small>
            <i class="fa fa-linkedin"></i>
          </small>
        </a>
      </section>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style scoped>

</style>