<template>
  <div class="portal-loader-logo-wrapper">
    <div class="portal-loader-logo">
      <div class="portal-loader-logo__circle portal-loader-logo__circle__bottom"></div>
      <div class="portal-loader-logo__circle portal-loader-logo__circle__top"></div>
      <div class="portal-loader-logo__circle portal-loader-logo__circle__left"></div>
      <div class="portal-loader-logo__circle portal-loader-logo__circle__right"></div>
      <div class="portal-loader-logo__circle portal-loader-logo__circle__inner"></div>
    </div>
    <!--<div class="portal-loader-logo-text">-->
      <!--BitCollege-->
    <!--</div>-->
  </div>

</template>

<script>
export default {
  name: 'Loader',
};
</script>

<style scoped>

</style>

<!--<template>-->
  <!--&lt;!&ndash;<div class="portal-loader-logo-wrapper">&ndash;&gt;-->
    <!--<div class="preloader" style="background-color: #00b962; position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 999;">-->
      <!--<div class="waves">-->
        <!--<div class="circle-1"></div>-->
        <!--<div class="circle-2"></div>-->
        <!--<div class="circle" style="border-radius: 50%;"><img src="../../assets/images/landing/logo-sm.png" alt="bitcollege"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</template>-->

<!--<script>-->
    <!--export default {-->
        <!--name: 'Loader',-->
    <!--};-->
<!--</script>-->

<!--<style scoped lang="scss">-->
  <!--@-webkit-keyframes wave {-->
    <!--0% {-->
      <!--opacity: 0;-->
      <!-- -webkit-transform: scale(1);-->
      <!--transform: scale(1);-->
    <!--}-->
    <!--5% {-->
      <!--opacity: .2;-->
    <!--}-->
    <!--70% {-->
      <!--opacity: .3;-->

    <!--}-->
    <!--100% {-->
      <!--opacity: 0;-->
      <!-- -webkit-transform: scale(2.5);-->
      <!--transform: scale(2.5);-->
    <!--}-->
  <!--}-->

  <!--@keyframes wave {-->
    <!--0% {-->
      <!--opacity: 0;-->
      <!-- -webkit-transform: scale(1);-->
      <!--transform: scale(1);-->
    <!--}-->
    <!--5% {-->
      <!--opacity: .2;-->
    <!--}-->
    <!--70% {-->
      <!--opacity: .3;-->

    <!--}-->
    <!--100% {-->
      <!--opacity: 0;-->
      <!-- -webkit-transform: scale(2.5);-->
      <!--transform: scale(2.5);-->
    <!--}-->
  <!--}-->

  <!--.preloader {-->
    <!--position: fixed;-->
    <!--left: 0;-->
    <!--top: 0;-->
    <!--right: 0;-->
    <!--bottom: 0;-->
    <!--z-index: 999;-->
  <!--}-->

  <!--.preloader .waves {-->
    <!--width: 250px;-->
    <!--height: 100px;-->
    <!--position: absolute;-->
    <!--left: 50%;-->
    <!--top: 50%;-->
    <!--margin-left: -125px;-->
    <!--margin-top: -50px;-->
    <!--color: rgba(247, 250, 251, 1);-->
    <!--font-size: 40px;-->
    <!--text-align: center;-->
    <!--line-height: 35px;-->
  <!--}-->

  <!--.waves {-->
    <!--position: relative;-->
    <!--height: 60px;-->
    <!--margin: auto;-->
  <!--}-->

  <!--.waves .circle {-->
    <!--position: relative;-->
    <!--top: -120px;-->
    <!--margin: auto;-->
    <!--border-radius: 50%;-->
    <!--width: 60px;-->
    <!--height: 60px;-->
    <!--padding: 10px;-->
    <!--font-size: 29px;-->
    <!--color: rgba(247, 250, 251, 1);-->
    <!-- -webkit-text-shadow: 0 0 35px rgba(0, 0, 0, .1);-->
    <!--text-shadow: 0 0 35px rgba(0, 0, 0, .1);-->
  <!--}-->

  <!--.waves .circle img {-->
    <!--width: 30px;-->
    <!--border-radius: 50%;-->
    <!-- -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);-->
    <!--box-shadow: 0 0 35px rgba(0, 0, 0, .1);-->
  <!--}-->

  <!--.waves .circle:hover {-->
    <!--cursor: pointer;-->
    <!-- -webkit-transform: scale(1.2);-->
    <!--transform: scale(1.2);-->
    <!-- -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);-->
    <!--box-shadow: 0 0 35px rgba(0, 0, 0, .1);-->
  <!--}-->

  <!--.waves .circle-1 {-->
    <!--position: relative;-->
    <!--margin: auto;-->
    <!--background-color: rgba(247, 250, 251, 1);-->
    <!--border-radius: 50%;-->
    <!--width: 60px;-->
    <!--height: 60px;-->
    <!-- -webkit-animation: wave 2s linear 0s infinite normal;-->
    <!--animation: wave 2s linear 0s infinite normal;-->
  <!--}-->

  <!--.waves .circle-2 {-->
    <!--position: relative;-->
    <!--top: -60px;-->
    <!--margin: auto;-->
    <!--background-color: rgba(247, 250, 251, 1);-->
    <!--border-radius: 50%;-->
    <!--width: 60px;-->
    <!--height: 60px;-->
    <!-- -webkit-animation: wave 3s linear 0s infinite normal;-->
    <!--animation: wave 3s linear 0s infinite normal;-->
  <!--}-->

<!--</style>-->
