<template>
  <aside id="notifications-drawer" class="mdc-drawer mdc-drawer--temporary mdc-drawer--portal-flex-content mdc-drawer--portal-right">
    <nav class="mdc-drawer__drawer">
      <nav id="notification-tab-bar" class="mdc-tab-bar" role="tablist">
        <a class="mdc-tab mdc-tab--active">Today</a>
        <a class="mdc-tab">Notifications</a>
        <span class="mdc-tab-bar__indicator"></span>
      </nav>
      <div id="notification-panels" class="mdc-drawer__content portal-hide-scrollbars portal-notification-panels">
        <div class="portal-notifications-tab-panel portal-tab-panel portal-tab-panel--active" role="tabpanel" aria-hidden="false">
          <h1 class="portal-notifications-tab-panel__title mdc-typography--display1">
            Thursday, January 19, 2018
          </h1>
          <div class="mdc-card portal-notification-card">
            <section class="mdc-card__primary">
              <h1 class="portal-notification-card__title">Weather</h1>
            </section>
            <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive mdc-list--portal-weather">
              <li class="mdc-list-item">
                <img class="mdc-list-item__graphic" src="http://l.yimg.com/a/i/us/we/52/30.gif" alt="London">
                <div class="mdc-list-item__text">
                  London
                  <span class="mdc-list-item__secondary-text">Cloudy</span>
                </div>
                <span class="mdc-list-item__meta">45°</span>
              </li>
              <li class="mdc-list-item">
                <img class="mdc-list-item__graphic" src="http://l.yimg.com/a/i/us/we/52/31.gif" alt="New York">
                <div class="mdc-list-item__text">
                  New York
                  <span class="mdc-list-item__secondary-text">Clear</span>
                </div>
                <span class="mdc-list-item__meta">18°</span>
              </li>
              <li class="mdc-list-item">
                <img class="mdc-list-item__graphic" src="http://l.yimg.com/a/i/us/we/52/31.gif" alt="Sydney">
                <div class="mdc-list-item__text">
                  Sydney
                  <span class="mdc-list-item__secondary-text">Clear</span>
                </div>
                <span class="mdc-list-item__meta">69°</span>
              </li>
            </ul>
          </div>
          <div class="mdc-card portal-notification-card">
            <section class="mdc-card__primary">
              <h1 class="portal-notification-card__title">Schedule</h1>
            </section>
            <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive mdc-list--portal-schedule">
              <li class="mdc-list-item">
                <div class="mdc-list-item__text">
                  <h4 class="portal-notification-card__subtitle">Go for a walk with Peach</h4>
                  <span class="mdc-list-item__secondary-text">
                  <i class="material-icons mdc-theme--primary">place</i> Mushroom Kingdom
                </span>
                </div>
                <span class="mdc-list-item__meta">9:30</span>
              </li>
              <li class="mdc-list-item">
                <div class="mdc-list-item__text">
                  <h4 class="portal-notification-card__subtitle">Meeting with Bowser</h4>
                  <span class="mdc-list-item__secondary-text">
                  <i class="material-icons mdc-theme--primary">place</i> Peach's Castle
                </span>
                </div>
                <span class="mdc-list-item__meta">11:22</span>
              </li>
              <li class="mdc-list-item">
                <div class="mdc-list-item__text">
                  <h4 class="portal-notification-card__subtitle">Rescue Peach</h4>
                  <span class="mdc-list-item__secondary-text">
                  <i class="material-icons mdc-theme--primary">place</i> Bowser's Castle
                </span>
                </div>
                <span class="mdc-list-item__meta">11:15</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="portal-notifications-tab-panel portal-tab-panel" role="tabpanel" aria-hidden="true">
          <h1 class="portal-notifications-tab-panel__title mdc-typography--headline">
            Today
          </h1>
          <div class="mdc-card portal-notification-card">
            <section class="mdc-card__primary">
              <h2 class="portal-notification-card__title">
                <i class="fa fa-comments portal-social-circle-icon portal-social-circle-icon--message"></i>
                Message
              </h2>
              <div class="mdc-typography--caption">
                <span>5 min ago</span>
                <i class="material-icons">clear</i>
              </div>
            </section>
            <section class="portal-notification-card__content">
              <h4 class="portal-notification-card__subtitle">Progress Report</h4>
              Hi, please find attached report...
            </section>
          </div>
          <div class="mdc-card portal-notification-card">
            <section class="mdc-card__primary">
              <h2 class="portal-notification-card__title">
                <i class="fa fa-facebook portal-social-circle-icon portal-social-circle-icon--facebook"></i>
                Facebook
              </h2>
              <div class="mdc-typography--caption">
                <span>10 min ago</span>
                <i class="material-icons">clear</i>
              </div>
            </section>
            <section class="portal-notification-card__content">
              You received a new message
            </section>
          </div>
          <div class="mdc-card portal-notification-card">
            <section class="mdc-card__primary">
              <h2 class="portal-notification-card__title">
                <i class="fa fa-slack portal-social-circle-icon portal-social-circle-icon--slack"></i>
                Slack
              </h2>
              <div class="mdc-typography--caption">
                <span>15 min ago</span>
                <i class="material-icons">clear</i>
              </div>
            </section>
            <section class="portal-notification-card__content">
              <h4 class="portal-notification-card__subtitle">#Support</h4>
              Hi there, got some news...
            </section>
          </div>
          <div class="mdc-card portal-notification-card">
            <section class="mdc-card__primary">
              <h2 class="portal-notification-card__title">
                <i class="fa fa-twitter portal-social-circle-icon portal-social-circle-icon--twitter"></i>
                Twitter
              </h2>
              <div class="mdc-typography--caption">
                <span>1 hour ago</span>
                <i class="material-icons">clear</i>
              </div>
            </section>
            <section class="portal-notification-card__content">
              <h4 class="portal-notification-card__subtitle">Web design trends</h4>
              #web #design
            </section>
          </div>
          <div class="mdc-card portal-notification-card">
            <section class="mdc-card__primary">
              <h2 class="portal-notification-card__title">
                <i class="fa fa-spotify portal-social-circle-icon portal-social-circle-icon--spotify"></i>
                Spotify
              </h2>
              <div class="mdc-typography--caption">
                <span>2 hours ago</span>
                <i class="material-icons">clear</i>
              </div>
            </section>
            <section class="portal-notification-card__content">
              <h4 class="portal-notification-card__subtitle">No Quarter</h4>
              Led Zeppelin
            </section>
          </div>
        </div>
      </div>
      <footer class="mdc-toolbar mdc-theme--text-primary-on-primary-light mdc-theme--primary-light-bg mdc-toolbar--portal-no-shrink">
        <div class="mdc-toolbar__row">
          <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="#" class="material-icons mdc-toolbar__menu-icon portal-drawer-notification-collapse-icon">chevron_right</a>
          </section>
        </div>
      </footer>
    </nav>
  </aside>
</template>

<script>
import { drawer, tabs } from 'material-components-web';

export default {
  name: 'NotificationSideNav',

  methods: {
    portalUpdateTabPanels(panels, index) {
      const activePanel = panels.querySelector('.portal-tab-panel.portal-tab-panel--active');
      if (activePanel) {
        activePanel.classList.remove('portal-tab-panel--active');
      }
      const newActivePanel = panels.querySelector('.portal-tab-panel:nth-child(' + (index + 1) + ')');
      if (newActivePanel) {
        newActivePanel.classList.add('portal-tab-panel--active');
      }
    },
  },

  mounted() {
    // Notifications Drawer
    const notificationDrawerEl = document.querySelector('#notifications-drawer');
    const notificationDrawer = new drawer.MDCTemporaryDrawer(notificationDrawerEl);

    document.querySelector('#portal-top-toolbar-notification-icon').addEventListener('click', () => {
      notificationDrawer.open = true;
    });
    document.querySelector('.portal-drawer-notification-collapse-icon').addEventListener('click', (e) => {
      notificationDrawer.open = false;
      e.preventDefault();
    });

    // Notification sidenav tabs
    const notificationTabBar = new tabs.MDCTabBar(document.querySelector('#notification-tab-bar'));
    notificationTabBar.layout();
    notificationTabBar.listen('MDCTabBar:change', (t) => {
      const panelTabBar = t.detail;
      const index = panelTabBar.activeTabIndex;
      const panels = document.querySelector('#notification-panels');
      this.portalUpdateTabPanels(panels, index);
    });

    const body = document.getElementsByTagName('body').item(0);
    // We need to relayout all tabs when switching to rtl.
    body.addEventListener('portalDirectionChanged', () => {
      notificationTabBar.layout();
    });
  },
};
</script>

<style scoped>
</style>