<template>
  <div>
    <header class="mdc-toolbar mdc-theme--text-primary-on-primary-dark mdc-theme--primary-dark-bg mdc-toolbar--portal-no-shrink">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <img src="../../assets/images/logo-sm.png" alt="Portal" class="" height="44">
          <span class="mdc-toolbar__title">EasyGram</span>
        </section>
      </div>
    </header>
    <div class="mdc-list-group mdc-drawer__content portal-hide-scrollbars portal-navigation">
      <nav class="mdc-list  portal-navigation-list">
        <!--mdc-list mdc-list&#45;&#45;avatar-list portal-navigation-list-->
        <!--mdc-list portal-navigation-list-->
        <router-link
            v-for="(item, key) in firstMenu"
            v-bind:class="{
              'portal-navigation-list__item': true,
              'mdc-list-item': true,
              'mdc-list-item--activated': (active_page == item.title)
            }"
            :key="key"
            :to="item.href"
            v-if="item.roles.includes(role)"
        >
          <span class="portal-navigation-list__text">
            <i class="material-icons mdc-list-item__graphic portal-navigation-list__icon" aria-hidden="true">{{item.icon}}</i>
            {{item.title}}
          </span>
          <span v-if="item.badge" class="portal-badge portal-badge--secondary">{{item.badge}}</span>
        </router-link>
        <!--v-if="role !== 'ROLE_ADMIN'"-->

        <a class="portal-navigation-list__item mdc-list-item" href="https://t.me/EasyGramSupport" target="_blank" v-if="role !== 'ROLE_ADMIN'">
          <span class="portal-navigation-list__text">
            <i class="material-icons mdc-list-item__graphic portal-navigation-list__icon" aria-hidden="true">send</i>
            Contact Us
          </span>
        </a>

        <a class="portal-navigation-list__item mdc-list-item" href="#" @click="logout">
          <span class="portal-navigation-list__text">
            <i class="material-icons mdc-list-item__graphic portal-navigation-list__icon" aria-hidden="true">power_settings_new</i>
            Logout
          </span>
        </a>
      </nav>
    </div>
    <footer class="mdc-toolbar mdc-theme--text-primary-on-primary-dark mdc-theme--primary-dark-bg mdc-toolbar--portal-no-shrink">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
          <a id="portal-sidemenu-close-icon" href="#" class="material-icons mdc-toolbar__menu-icon">
        <span class="portal-navigation-list__text portal-sidenav-collapse-icon">
          chevron_left
        </span>
          </a>
        </section>
      </div>
    </footer>
  </div>
</template>

<script>
import menu from '../../menu';
import AuthService from '../../services/Auth';

const authService = new AuthService();

export default {
  name: 'SideMenu',
  data() {
    return {
      firstMenu: menu,
    };
  },

  computed: {
    username () {
      return authService.getUser().telegram_name
    },
    active_page () {
      return this.$route.name
    },
    role () {
      try {
        return authService.getRoleUserRole().name
      } catch (e) {
        return ''
      }
    }
  },

  methods: {
    logout() {
      return authService.logOut(false, () => {
        window.location = process.env.VUE_APP_LANDING_URI;
      })
    },
  },
  
  mounted () {
  }
};
</script>

<style scoped lang="scss">
  header {
    padding-top: 60px !important;
    padding-bottom: 40px !important;
  }
  
  .mdc-list-item--activated {
    border-left: 2px solid #03A9F4 !important;
    border-bottom: 1px solid #03A9F4 !important;
  }

  .portal-navigation-list__item {
    border-left: 2px solid transparent;
    border-bottom: 1px solid transparent;
    &:hover {
      border-left: 2px solid #03A9F4;
      border-bottom: 1px solid #03A9F4;
    }
  }
</style>