<template>
  <div>
    <header class="mdc-toolbar mdc-theme--primary-bg mdc-toolbar--portal-no-shrink mdc-elevation--z2  mdc-toolbar--portal-menu">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start portal-flex-wrap">
          <router-link v-for="(item, key) in firstMenu" :key="key" :to="item.href" v-if="item.roles.includes(role)" class="mdc-theme--text-primary-on-primary-dark mdc-toolbar--portal-menu-link">{{item.title}}</router-link>
          <a href="https://t.me/BtcollegeChat" target="_blank" class="mdc-theme--text-primary-on-primary-dark mdc-toolbar--portal-menu-link" v-if="role !== 'ROLE_ADMIN'">Contact Us</a>
          <a href="#" @click="logout" class="mdc-theme--text-primary-on-primary-dark mdc-toolbar--portal-menu-link">Logout</a>
        </section>
      </div>
    </header>

  </div>
</template>

<script>
import menu from '../../menu';
import AuthService from '../../services/Auth';

const authService = new AuthService();


export default {
  name: 'TopHeader',

  data() {
    return {
      active_page: 'Home',
      firstMenu: menu,
    };
  },

  computed: {
    username () {
      return authService.getUser().telegram_name
    },
    role () {
      try {
        return authService.getRoleUserRole().name
      } catch (e) {
        return ''
      }
    }
  },

  methods: {
    logout() {
      return authService.logOut(false, () => {
        window.location = '/'
      })
    }
  }
};
</script>

<style scoped>
  .mdc-toolbar--portal-no-shrink {
    z-index: initial;
  }
</style>