<template>
  <div>
    <header class="mdc-toolbar mdc-theme--text-primary-on-primary-light mdc-theme--primary-light-bg mdc-toolbar--portal-no-shrink portal-toolbar invert-header">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <a id="portal-top-toolbar-burger-icon" href="#" v-bind:class="barClasses">menu</a>
          <span class="toolbar-title">EASYGRAM</span>
          <!--<img src="../../assets/images/main-logo.png" alt="logo">-->
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end">

          <div v-show="false" id="portal-layout-menu-button" class="material-icons mdc-toolbar__icon mdc-menu-anchor" aria-label="Notifications">
            apps

            <div class="mdc-menu" tabindex="-1" id="portal-layout-menu">
              <div class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                <a href="#" v-for="item in layouts" class="mdc-list-item" role="menuitem" @click="switchLayout(item.value)" tabindex="0">{{ item.name }}</a>
                <!--{% if layout !== 'classic' %}-->
                <!--<a href="{{ base }}" class="mdc-list-item" role="menuitem" tabindex="0">Classic</a>-->
                <!--{% endif %}-->
                <!--{% if layout !== 'toolbar' %}-->
                <!--<a href="{{ base }}toolbar" class="mdc-list-item" role="menuitem" tabindex="0">Toolbar</a>-->
                <!--{% endif %}-->
                <!--{% if layout !== 'compact' %}-->
                <!--<a href="{{ base }}compact" class="mdc-list-item" role="menuitem" tabindex="0">Compact</a>-->
                <!--{% endif %}-->
                <!--{% if layout !== 'boxed' %}-->
                <!--<a href="{{ base }}boxed" class="mdc-list-item" role="menuitem" tabindex="0">Boxed</a>-->
                <!--{% endif %}-->
                <!--{% if layout !== 'tabbed' %}-->
                <!--<a href="{{ base }}tabbed" class="mdc-list-item" role="menuitem" tabindex="0">Tabbed</a>-->
                <!--{% endif %}-->
                <!--{% if layout !== 'funky' %}-->
                <!--<a href="{{ base }}funky" class="mdc-list-item" role="menuitem" tabindex="0">Funky</a>-->
                <!--{% endif %}-->
              </div>
            </div>
          </div>
          
          <div v-show="false" id="portal-theme-menu-button" class="material-icons mdc-toolbar__icon mdc-menu-anchor" aria-label="Change Colors">
            invert_colors

            <div class="mdc-menu" tabindex="-1" id="portal-theme-menu">
              <ul class="mdc-menu__items mdc-list" role="menu" aria-hidden="true">
                <li id="classic-light_blue-pink" class="mdc-list-item" role="menuitem" tabindex="0">
                  Classic - Light Blue / Pink
                </li>
                <li id="classic-green-deep_orange" class="mdc-list-item" role="menuitem" tabindex="0">
                  Classic - Green / Deep Orange
                </li>
                <li id="classic-indigo-orange" class="mdc-list-item" role="menuitem" tabindex="0">
                  Classic - Indigo / Orange
                </li>
                <li id="dark-light_blue-pink" class="mdc-list-item" role="menuitem" tabindex="0">
                  Dark - Light Blue / Pink
                </li>
                <li id="dark-green-deep_orange" class="mdc-list-item" role="menuitem" tabindex="0">
                  Dark - Green / Deep Orange
                </li>
                <li id="dark-indigo-orange" class="mdc-list-item" role="menuitem" tabindex="0">
                  Dark - Indigo / Orange
                </li>
                <li id="night-light_blue-pink" class="mdc-list-item" role="menuitem" tabindex="0">
                  Night - Light Blue / Pink
                </li>
                <li id="night-green-deep_orange" class="mdc-list-item" role="menuitem" tabindex="0">
                  Night - Green / Deep Orange
                </li>
                <li id="night-indigo-orange" class="mdc-list-item" role="menuitem" tabindex="0">
                  Night - Indigo / Orange
                </li>
              </ul>
            </div>
          </div>


          <div
              v-show="false"
              id="rtl-switch"
               class="mdc-toolbar__icon toggle material-icons"
               role="button"
               aria-label="Text Direction"
               aria-pressed="false"
               tabindex="0"
               data-toggle-on='{"content": "format_textdirection_l_to_r", "label": "Left to Right"}'
               data-toggle-off='{"content": "format_textdirection_r_to_l", "label": "Right to Left"}'>
            format_textdirection_l_to_r
          </div>

          <v-menu
              v-show="false"
              :nudge-width="200"
              :offset-y="true"
              v-model="menu"
          >
            <v-btn slot="activator" flat depressed class="portal-user-menu">
              <img class="portal-user-menu-button__avatar" src="../../assets/images/dashboard/userpic.png">
              <span v-if="username" class="portal-user-menu-button__username">{{username}}</span>
            </v-btn>
            <v-list>
              <v-list-tile class="mdc-list-item">
                <v-list-tile-title>
                  <router-link to="/transactions">Transactions</router-link>
                </v-list-tile-title>
              </v-list-tile>
              <v-list-tile class="mdc-list-item">
                <v-list-tile-title>
                  <router-link to="/referrals">Referrals</router-link>
                </v-list-tile-title>
              </v-list-tile>
              <v-list-tile class="mdc-list-item">
                <v-list-tile-title>
                  <router-link to="/profile">Profile</router-link>
                </v-list-tile-title>
              </v-list-tile>
            </v-list>
            <!--<v-divider></v-divider>-->
            <!--<v-list>-->
              <!--<v-list-tile class="mdc-list-item">-->
                <!--<v-list-tile-title>-->
                  <!--<a href="#">Logout</a>-->
                <!--</v-list-tile-title>-->
              <!--</v-list-tile>-->
            <!--</v-list>-->
          </v-menu>
          <!--<div id="portal-top-toolbar-notification-icon" class="mdc-toolbar__icon portal-toolbar__notification-icon" aria-label="Notifications">-->
            <!--<span class="material-icons">notifications</span>-->
            <!--<span class="portal-badge portal-badge&#45;&#45;secondary portal-toolbar__badge">7</span>-->
          <!--</div>-->
        </section>
      </div>
    </header>

  </div>
</template>

<script>
import lockr from 'lockr';
import { menu, iconToggle } from 'material-components-web';
import AuthService from '../../services/Auth';

const authService = new AuthService()

export default {
  name: 'TopToolbar',

  data() {
    return {
      fav: true,
      menu: false,
      message: false,
      hints: true,
      layouts: [
        {
          value: 'classic',
          name: 'Classic',
        },
        {
          value: 'toolbar',
          name: 'Toolbar',
        },
        {
          value: 'compact',
          name: 'Compact',
        },
        {
          value: 'boxed',
          name: 'Boxed',
        },
        // {
        //   value: 'tabbed',
        //   name: 'Tabbed',
        // },
        // {
        //   value: 'funky',
        //   name: 'Funky',
        // },
      ]
    };
  },

  computed: {
    layout() {
      return this.$store.getters.layout;
    },

    username() {
      const user = authService.getUser();
      if (user.hasOwnProperty('telegram_name')) {
        return user.telegram_name;
      }

      return false;
    },

    barClasses() {
      return [
        'portal-burger-menu-icon--' + this.layout,
        'material-icons',
        'mdc-toolbar__menu-icon',
      ];
    },
  },

  methods: {
    switchLayout(layout) {

      lockr.set('layout', layout);
      this.$store.dispatch('switchLayout', layout);
    },

    switchTheme(themeID) {
      const stylesheetLink = document.querySelector('#portal-stylesheet');
      const currentStylesheetFilename = stylesheetLink.href.substring(stylesheetLink.href.lastIndexOf('/') + 1);
      const newStylesheetURL = stylesheetLink.href.replace(currentStylesheetFilename, themeID + '.css');
      const head = document.getElementsByTagName('head').item(0);
      const newlink = document.createElement('link');

      // Create new link.
      newlink.setAttribute('rel', 'stylesheet');
      newlink.setAttribute('type', 'text/css');
      newlink.setAttribute('href', newStylesheetURL);
      // Add new link to head.
      head.appendChild(newlink, stylesheetLink);
      // Add load listener to remove old CSS link.
      newlink.addEventListener('load', () => {
        // Remove old CSS link.
        head.removeChild(stylesheetLink);
        // Set new link to use id.
        newlink.setAttribute('id', 'portal-stylesheet');
      });
    },
  },

  mounted() {
    // Layout menu.
    const layoutMenuEl = document.querySelector('#portal-layout-menu');
    if (layoutMenuEl !== null) {
      // Create layout menu.
      const layoutMenu = new menu.MDCMenu(layoutMenuEl);
      layoutMenu.setAnchorCorner(menu.MDCMenuFoundation.Corner.BOTTOM_START);
      // Set listener for opening menu.
      document.querySelector('#portal-layout-menu-button').addEventListener('click', () => {
        layoutMenu.open = !layoutMenu.open;
      });
    }

    const profileMenuEl = document.querySelector('#portal-profile-menu');
    if (profileMenuEl !== null) {
      // Create layout menu.
      const profileMenu = new menu.MDCMenu(profileMenuEl);
      profileMenu.setAnchorCorner(menu.MDCMenuFoundation.Corner.BOTTOM_START);
      // Set listener for opening menu.
      document.querySelector('#portal-profile-menu-button').addEventListener('click', () => {
        profileMenu.open = !profileMenu.open;
      });
    }
    
    // User menu.
    // const userMenuEl = document.querySelector('#portal-user-menu');
    // if (userMenuEl !== null) {
    //   // Create layout menu.
    //   const userMenu = new menu.MDCMenu(userMenuEl);
    //   userMenu.setAnchorCorner(menu.MDCMenuFoundation.Corner.BOTTOM_START);
    //   // Set listener for opening menu.
    //   document.querySelector('#portal-user-menu-button').addEventListener('click', () => {
    //     userMenu.open = !userMenu.open;
    //   });
    // }

    // Theme menu.
    const themeMenuEl = document.querySelector('#portal-theme-menu');
    if (layoutMenuEl !== null) {
      const themeMenu = new menu.MDCMenu(themeMenuEl);
      document.querySelector('#portal-theme-menu-button').addEventListener('click', () => {
        themeMenu.open = !themeMenu.open;
      });
      // Set Anchor Corner to Bottom End
      themeMenu.setAnchorCorner(menu.MDCMenuFoundation.Corner.BOTTOM_START);

      themeMenuEl.addEventListener('MDCMenu:selected', (evt) => {
        // Switch theme
        const themeID = evt.detail.item.id;
        this.switchTheme(themeID);
        // Store theme.
        sessionStorage.setItem('portal-html-theme', themeID);
        // Dispatch event to update the charts
        const body = document.getElementsByTagName('body').item(0);
        const event = new Event('portalThemeChanged');
        setTimeout(() => {
          body.dispatchEvent(event);
        }, 500);
      });
    }

    // Check if theme has been stored in session.
    const themeID = sessionStorage.getItem('portal-html-theme');
    if (themeID) {
      this.switchTheme(themeID);
    }

    const rtlSwitch = document.getElementById('rtl-switch');
    if (rtlSwitch !== null) {
      iconToggle.MDCIconToggle.attachTo(rtlSwitch);
      rtlSwitch.addEventListener('MDCIconToggle:change', (evt) => {
        document.documentElement.dir = evt.detail.isOn ? 'rtl' : 'ltr';
        // Dispatch event to reload the tabs
        const body = document.getElementsByTagName('body').item(0);
        const event = new Event('portalDirectionChanged');
        body.dispatchEvent(event);
      });
    }
  },
};
</script>

<style scoped lang="scss">
  /*.portal-user-menu {*/
    /*!*max-width: 120px;*!*/
    /*height: 40px;*/
    /*!*padding: 5px 10px 5px 0;*!*/
  /*}*/

  /*.portal-user-menu-button__avatar {*/
    /*width: 35px;*/
    /*height: 35px;*/
    /*border-radius: 50%;*/
    /*!*margin-left: 10px;*!*/
  /*}*/

  /*.portal-user-menu-button__username {*/
    /*margin: 0 4px;*/
    /*font-size: 16px;*/
  /*}*/

  /*.user-profile {*/
    /*width: 120px;*/
    /*background-color: #00b962;*/
    /*//padding: 0;*/
    /*text-align: left;*/
    /*img {*/
      /*width: 40px;*/
      /*height: 40px;*/
      /*border-radius: 50%;*/
      /*overflow: hidden;*/
    /*}*/
    /*span {*/
      /*font-size: 16px;*/
    /*}*/
  /*}*/

  .toolbar-title {
    display: none;
  }

  @media screen and (max-width: 600px) {

    .toolbar-title {
      display: block;
      width: 230px;
      /*height: 82px;*/
      font-size: 35px;
      color: rgb(255,255,255);
      font-family: "Barlow";
      font-weight: bold;
      font-style: italic;;
      text-align: center;
    }

    .invert-header {
      background-color: #1f1f1f !important;
    }
    #portal-top-toolbar-burger-icon {
      color: #fff !important;
    }
    #portal-layout-menu-button, #rtl-switch {
      display: none;
    }
    .portal-user-menu {
      color: #fff !important;
    }
  }
</style>