<template>
  <div>
    <!-- Header -->
    <header id="header-1">
      <div class="background-img bckg-1"></div>
      <div class="header-masc">
        <!-- Background animation -->
        <div class="clouds">
          <div class="cloud-1 bckg-2"></div>
          <div class="cloud-2 bckg-3"></div>
        </div>
        <!-- Background animation end -->
        <!-- Social icons -->
        <div class="social-icons">
          <ul>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://t.me/joinchat/AAAAAE_Dh5q_ZUROdQDSSw" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <!-- Social icons end -->
        <!-- Background animation end -->
        <div class="container header-container" >
          <div class="row">
            <div class="col-md-8 col-sm-12 main-title">
              <div class="type-js headline">
                <!-- Main header title -->
                <h1 class="white-landing" style="line-height: inherit;">True financial Freedom With <b>EasyGram</b></h1>
                <!-- Main header suptitle -->
                <h3 class="white-landing"><i>Join the <span data-typer-targets="Revolution!, Movement!, Activity!"></span></i></h3>
                <br>
                <!-- Appstore button -->
                <a href="/login" class="btn-landing dwnld-btn appstore"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Login</a>
                <!-- Playmarket button -->
                <a href="/sign-up" class="btn-landing dwnld-btn playmarket"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Sign Up</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-0 header-phone wow fadeInUp team-main" data-wow-duration="1.3s">
              <div class="ilustration">
                <!-- Phone -->
                <div class="front-phone wow fadeInUp" data-wow-duration="1.7s">
                  <div class="iphone single-iphone">
                    <i></i>
                    <b></b>
                    <div class="header-slider owl-carousel">
                      <div class="slide">
                        <!-- Screenshon 1 -->
                        <img src="../../assets/images/landing/T1.png" alt="Screenshot">
                      </div>
                      <div class="slide">
                        <!-- Screenshon 2 -->
                        <img src="../../assets/images/landing/T3.png">
                      </div>
                      <div class="slide">
                        <!-- Screenshon 3 -->
                        <img src="../../assets/images/landing/T2.png">
                      </div>
                      <div class="slide">
                        <!-- Screenshon 4 -->
                        <img src="../../assets/images/landing/T0.png">
                      </div>

                    </div>
                    <div class="bottom-panel-android">
                      <ul>
                        <li><span class="fa fa-bars" aria-hidden="true"></span></li>
                        <li><span class="fa fa-square-o" aria-hidden="true"></span></li>
                        <li><span class="fa fa-chevron-left" aria-hidden="true"></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Phone end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header end-->
    <!-- Start section -->
    <section id="start">
      <div class="padding-masc">
        <div class="container text-center">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="icon-place theme-background">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              </div>
              <h4>Learn</h4>
              <p class="mb30">There are no secrets to success. It is the result of preparation, hard work, and learning from failure</p>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="icon-place theme-background">
                <i class="fa fa-area-chart" aria-hidden="true"></i>
              </div>
              <h4>Trade</h4>
              <p class="mb30">Trade with confidence and discover the true way of life with the top Crypto brokers in the world </p>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="icon-place theme-background">
                <i class="fa fa-signal" aria-hidden="true"></i>
              </div>
              <h4>Profit</h4>
              <p class="mb30">Using our suggestions from the top analyzers and using the autotrade platform will make BTC's duplicate while you sleeping </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Start section end -->
    <!-- About section -->
    <section id="about">
      <div class="padding-masc">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-6 about-text">
              <div>
                <!-- Title -->
                <h3><b>About </b> Bit College</h3>
                <!-- Description -->
                <h4 class="mb30"><i class="color">Movement of financial Freedom!</i></h4>
                <p class="section-description">Our team consists of analysts with experience in trading virtual currencies, engineers, and connected people.</p>
                <br>
                <p>

                  Apart from having learned the best tools for basic and advanced analysis of virtual currency trading, we are developing new methods to help us anticipate the next success and also know when to take a step back.

                  All of our operations are 100% independent, and we invest a tremendous amount of resources and efforts to succeed in any analysis and analysis.</p>
                <br>
                <ul class="text-list">
                  <li><i class="fa fa-check"></i> Top Brokers</li>
                  <li><i class="fa fa-check"></i> 87% Success Rate</li>
                  <li><i class="fa fa-check"></i>100% Unique forecasts</li>
                </ul>
                <br>
                <p>What are you waiting for Join us NOW!</p>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-6 text-center">
              <div class="ilustration">
                <!-- Front phone -->
                <div class="back-phone wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".2s">
                  <div class="iphone">
                    <i></i>
                    <b></b>
                    <!-- Screenshot -->
                    <img src="../../assets/images/landing/referal3.jpg" alt="Screenshot">
                    <div class="bottom-panel-android">
                      <ul>
                        <li><span class="fa fa-bars" aria-hidden="true"></span></li>
                        <li><span class="fa fa-square-o" aria-hidden="true"></span></li>
                        <li><span class="fa fa-chevron-left" aria-hidden="true"></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Front phone end -->
                <!-- Back phone -->
                <div class="front-phone wow slideInUp" data-wow-duration="1.2s">
                  <div class="iphone">
                    <i></i>
                    <b></b>
                    <!-- Screenshot -->
                    <img src="../../assets/images/landing/referal1.jpg" alt="Screenshot">
                    <div class="bottom-panel-android">
                      <ul>
                        <li><span class="fa fa-bars" aria-hidden="true"></span></li>
                        <li><span class="fa fa-square-o" aria-hidden="true"></span></li>
                        <li><span class="fa fa-chevron-left" aria-hidden="true"></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Back phone end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About section end-->


    <!-- Stats section -->
    <section id="stats">
      <div class="background-img bckg-4"></div>
      <div class="masc2 masc">
        <!-- Background animation -->
        <div class="clouds">
          <div class="cloud-1 bckg-2"></div>
          <div class="cloud-2 bckg-3"></div>
        </div>
        <!-- Background animation end -->
        <div class="container">
          <div class="stat">
            <!-- item 1 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="milestone-counter wow fadeIn" data-wow-duration="1.3s">
                <i class="fa fa-signal" aria-hidden="true"></i>
                <span class="counter">391 </span><span class="thousand"></span>
                <h4 class="white-landing mb30">Signals</h4>
              </div>
            </div>
            <!-- item 2 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="milestone-counter wow fadeIn" data-wow-duration="1.3s" data-wow-delay=".2s">
                <i class="fa fa-star" aria-hidden="true"></i>
                <span class="counter">87 </span><span class="thousand">%</span>
                <h4 class="white-landing mb30">Success Rate</h4>
              </div>
            </div>
            <!-- item 3 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="milestone-counter wow fadeIn" data-wow-duration="1.3s" data-wow-delay=".4s">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span class="counter">127 </span><span class="thousand"></span>
                <h4 class="white-landing mb30">Premium Users</h4>
              </div>
            </div>
            <!-- item 4 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="milestone-counter wow fadeIn" data-wow-duration="1.3s" data-wow-delay=".6s">
                <i class="fa fa-btc" aria-hidden="true"></i>
                <span class="counter">1227</span>
                <h4 class="white-landing mb30">BTC &amp; Traded</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Stats section end -->


    <!-- Features section -->
    <section id="features">
      <div class="padding-masc">
        <div class="container">
          <div class="col-lg-12 text-center">
            <!-- Title -->
            <h3>What services we <b>Offer</b>?</h3>
            <!-- Description -->
            <h4 class="mb30"><i class="color">What we Actually doing ?</i></h4>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6 col-sm-6 text-right-adaptive">
              <ul>
                <li>
                  <div class="future">
                    <!-- Change the .fa-circle to change the icon -->
                    <h4>
                      <!-- for mobile --><i class="fa fa-circle hiden right" aria-hidden="true"></i> Monitor
                      <!-- for desctop --><i class="fa fa-btc left" aria-hidden="true"></i></h4>
                    <p>All of our analyzers working together and monitor each hour the top most likely coins that should burst Soon.</p>
                  </div>
                </li>
                <li>
                  <div class="future">
                    <h4>
                      <!-- for mobile --><i class="fa fa-circle hiden right" aria-hidden="true"></i> Possible Buy

                      <!-- for desctop --><i class="fa fa-file-text  left" aria-hidden="true"></i></h4>
                    <p>Our analyzers share with the community the TA and FA they found at our Bitcollege Analyze Group, Then for few days they will make sure everyone ready for the Burst.</p>
                  </div>
                </li>
                <li>
                  <div class="future">
                    <h4>
                      <!-- for mobile --><i class="fa fa-circle hiden right" aria-hidden="true"></i> ICO Hunt
                      <!-- for desctop --><i class="fa fa fa-telegram left" aria-hidden="true"></i></h4>
                    <p>Inside our Premium channel, we do Organizing huge discounts for Amazing ICO projects starting with 5-100% more tokens that you can get vs Regularly offered discounts. </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4 text-center advantages-phone">
              <div class="ilustration">
                <!-- Phone -->
                <div class="front-phone wow fadeInUp" data-wow-duration="1.2s">
                  <div class="iphone single-iphone">
                    <i>Speaker</i>
                    <b>Camera</b>
                    <!-- Screenshot -->
                    <img src="../../assets/images/landing/referal3.jpg" alt="Screenshot">
                    <div class="bottom-panel-android">
                      <ul>
                        <li><span class="fa fa-bars" aria-hidden="true"></span></li>
                        <li><span class="fa fa-square-o" aria-hidden="true"></span></li>
                        <li><span class="fa fa-chevron-left" aria-hidden="true"></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Phone end -->
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-sm-6 text-left">
              <ul>
                <li>
                  <div class="future">
                    <h4><i class="fa fa-area-chart right" aria-hidden="true"></i>High ROI</h4>
                    <p>We do follow each one of our premium Portfolios, and make sure each one of them gets the best ROI for their Case.</p>
                  </div>
                </li>
                <li>
                  <div class="future">
                    <h4><i class="fa fa-pie-chart right" aria-hidden="true"></i>Support</h4>
                    <p>We do answer all of our members In the best way and in the quickest time we can, Users can send us an email Ticket asking for personal Advise from our analyzers.</p>
                  </div>
                </li>
                <li>
                  <div class="future">
                    <h4><i class="fa fa-bar-chart right" aria-hidden="true"></i>Free Demo</h4>
                    <p>You can always try our free signals channel who made also alot of high returns at our telegram group <a href="https://t.me/BtcollegeChat" style="color: black">here</a> . </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Features section end -->

    <!-- Price section -->
    <section id="price">
      <div class="padding-masc">
        <div class="container">
          <!--Title-->
          <h3>Join the action <b>NOW!</b></h3>
          <!-- Description -->
          <h4 class="mb60"><i class="color">Never miss a good signal</i></h4>
          <div class="row">
            <!-- Plan 1 -->
            <div class="plan col-md-4 wow fadeInUp" data-wow-duration="1.5s">
              <ul>
                <li class="plan-title">
                  <h3>1 Month</h3>
                </li>
                <li class="plan-price">0.01 BTC</li>
                <li>
                  <ul class="options">


                    <li><a class="fa fa-clock-o"></a> 30 <span>Days </span></li>
                    <li><a class="fa fa-btc"></a>  Top <span>Signals </span></li>

                    <li><a class="fa fa-medkit"></a> Premium  <span>Support</span></li>

                    <li><a class="fa fa-whatsapp"></a> Premium <span>Chat</span></li>

                    <li><a class="fa fa-pie-chart"></a> Premium <span>Portfolio </span></li>




                  </ul>
                </li>
                <li class="btn-landing price-button"><a href="#" class="btn-landing button order"><i class="fa fa-check"></i>&nbsp; Join now!</a></li>
              </ul>
            </div>
            <!-- Plan 2 <Optimal> -->
            <div class="plan col-md-4 wow fadeInUp" data-wow-duration="1s">
              <ul class="center-plan">
                <li class="plan-title">
                  <div class="optimal"><i class="fa fa-check"></i>
                    <p>Optimal plan</p>
                  </div>
                  <h3>2 Months</h3>
                </li>
                <li class="plan-price color">0.02 BTC</li>
                <li>
                  <ul class="options">



                    <li><a class="fa fa-clock-o"></a> 60 <span>Days </span></li>

                    <li><a class="fa fa-btc"></a>  Top <span>Signals </span></li>

                    <li><a class="fa fa-medkit"></a> Premium  <span>Support</span></li>

                    <li><a class="fa fa-whatsapp"></a> Premium <span>Chat</span></li>

                    <li><a class="fa fa-pie-chart"></a> Premium <span>Portfolio </span></li>
                  </ul>
                </li>
                <li class="btn-landing price-button"><a href="#" class="btn-landing button order color"><i class="fa fa-check"></i>&nbsp; Join now!</a></li>
              </ul>
            </div>
            <!-- Plan 3 -->
            <div class="plan col-md-4 wow fadeInUp" data-wow-duration="1.5s">
              <ul>
                <li class="plan-title">
                  <h3>6 Months</h3>
                </li>
                <li class="plan-price">0.051 BTC</li>
                <li>
                  <ul class="options">

                    <li><a class="fa fa-clock-o"></a> 180 <span>Days </span></li>
                    <li><a class="fa fa-btc"></a>  Top <span>Signals </span></li>

                    <li><a class="fa fa-medkit"></a> Premium  <span>Support</span></li>

                    <li><a class="fa fa-whatsapp"></a> Premium <span>Chat</span></li>

                    <li><a class="fa fa-pie-chart"></a> Premium <span>Portfolio </span></li>
                  </ul>
                </li>
                <li class="btn-landing price-button"><a href="#" class="btn-landing button order"><i class="fa fa-check"></i>&nbsp; Join now!</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Price section end -->

    <!-- Reviews section -->
    <section id="reviews">
      <div class="padding-masc">
        <!--Title-->
        <h3><b>Others </b> about us</h3>
        <!-- Description -->
        <h4><i class="color">Real reviews from premium Members.</i></h4>
        <div class="reviews-slider owl-carousel">
          <!-- Review 1 -->
          <div class="slide wow fadeInUp" data-wow-duration="1s">
            <div class="avatar avatar-1"></div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <!-- Empty star -->
            <!-- Name -->
            <h4 class="mt15">@Aakita</h4>
            <!-- Text -->
            <p>Very pleased with the premium services, the staff is professional and courteous, beyond the signs I learned a great deal because of them.
              Even knowing how to trade alone is worth being part of the premium</p>
          </div>
          <!-- Review 2 -->
          <div class="slide wow fadeInUp" data-wow-duration="1.5s">
            <div class="avatar avatar-2"></div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <!-- Name -->
            <h4 class="mt15">@rodik34</h4>
            <!-- Text -->
            <p>Instead of focusing on the competition, this guys focus on the customer. and this is why i will keep coming back to use their services"</p>
          </div>
          <!-- Review 3 -->
          <div class="slide wow fadeInUp" data-wow-duration="1.5s">
            <div class="avatar avatar-3"></div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <!-- Empty star -->
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <!-- Empty star -->
            <!-- Name -->
            <h4 class="mt15">@whaletuvia</h4>
            <!-- Text -->
            <p>Let me recommend you about this long journey i made with Bitcollege ,It's a life Changing exp that makes me now live Free out of worries</p>
          </div>
          <!-- Review 4 -->
          <div class="slide wow fadeInUp" data-wow-duration="1.5s">
            <div class="avatar avatar-4"></div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star empty" aria-hidden="true"></i>
            <!-- Empty star -->
            <!-- Name -->
            <h4 class="mt15">@Gandalf111</h4>
            <!-- Text -->
            <p>Was here from the beginning of this group , Make my half Bitcoin into few bitcoins and counting, Cant ask for anything more then this.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Reviews section end -->



    <!-- FAQ section -->
    <section id="faq">
      <div class="padding-masc">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-6 faq-text">
              <div>
                <!-- Title -->
                <h3>Frequently Asked <b>Questions</b></h3>
                <!-- Description -->
                <h4 class="mb50"><i class="color">Lorem ipsum dolor sit.</i></h4>
                <div class="panel-group" id="accordion">
                  <!-- Question 1 -->
                  <div class="panel panel-default text-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                      <div class="panel-heading">
                        <!-- Question -->
                        <h4 class="panel-title">Why should i trust you ?<i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4>
                      </div>
                    </a>
                    <div id="collapse1" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <!-- Answer -->
                        <p class="default-text">Our team consists of analysts with experience in trading virtual currencies, engineers, and at least 5 years or expertise in the field of crypto trading.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Question 1 end -->
                  <!-- Question 2 -->
                  <div class="panel panel-default text-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                      <div class="panel-heading">
                        <!-- Question -->
                        <h4 class="panel-title">What benfits do you have on other Rivals ? <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4>
                      </div>
                    </a>
                    <div id="collapse2" class="panel-collapse collapse">
                      <div class="panel-body">
                        <!-- Answer -->
                        <p class="default-text">We are using Both technical analysis and fundamental analysis we never release signals before we check the social and see the upcoming events for each coin we choose to analyze. </p>
                      </div>
                    </div>
                  </div>
                  <!-- Question 2 end -->

                  <!-- Question 4 -->
                  <div class="panel panel-default text-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                      <div class="panel-heading">
                        <!-- Question -->
                        <h4 class="panel-title">Where can i see some demo of your Signals ? <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4>
                      </div>
                    </a>
                    <div id="collapse4" class="panel-collapse collapse">
                      <div class="panel-body">
                        <!-- Answer -->
                        <p class="default-text">You are more than welcome to enter our Telegram Free Signals Channel , search for @ inside the bot you will have a menu that will direct to each of our specific group , inside Bitcollege Signals we post on a daily basis all of our Hits from the premium group , you can also check our last reports at <a href="https://goo.gl/T1Wu2E" style="color: black">Bitcollege.co.il</a>.</p>
                      </div>
                    </div>
                  </div>
                  <!-- Question 4 end -->


                  <!-- Question 3 -->
                  <div class="panel panel-default text-left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                      <div class="panel-heading">
                        <!-- Question -->
                        <h4 class="panel-title">Where do i sign up ? <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4>
                      </div>
                    </a>
                    <div id="collapse3" class="panel-collapse collapse">
                      <div class="panel-body">
                        <!-- Answer -->
                        <p class="default-text"> Sign up to our service is really simple , It is Fully automatic from the moemnet you pay until the auto adding of your username to our Premium Channel, Please visit our signup page  <a href="signup.html" style="color: black">Here</a> ,For any further information please visit us at our telegram chat and ask for an Admin. </p>
                      </div>
                    </div>
                  </div>
                  <!-- Question 3 end -->
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-6 text-center">
              <div class="ilustration">
                <!-- Back phone -->
                <div class="back-phone wow slideInUp" data-wow-duration="1.3s" data-wow-delay=".2s">
                  <div class="iphone">
                    <i></i>
                    <b></b>
                    <!-- screenshot -->
                    <img src="../../assets/images/landing/referal1.jpg" alt="Screenshot">
                    <div class="bottom-panel-android">
                      <ul>
                        <li><span class="fa fa-bars" aria-hidden="true"></span></li>
                        <li><span class="fa fa-square-o" aria-hidden="true"></span></li>
                        <li><span class="fa fa-chevron-left" aria-hidden="true"></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Back phone end -->
                <!-- Front phone -->
                <div class="front-phone wow slideInUp" data-wow-duration="1.2s">
                  <div class="iphone">
                    <i></i>
                    <b></b>
                    <!-- screenshot -->
                    <img src="../../assets/images/landing/referal3.jpg" alt="Screenshot">
                    <div class="bottom-panel-android">
                      <ul>
                        <li><span class="fa fa-bars" aria-hidden="true"></span></li>
                        <li><span class="fa fa-square-o" aria-hidden="true"></span></li>
                        <li><span class="fa fa-chevron-left" aria-hidden="true"></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Front phone end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- FAQ section end-->

    <!-- Subscribe -->
    <!--<div class="container subscribe">-->
      <!--<div class="row">-->
        <!--<div class="col-md-5 subscribe-text">-->
          <!--<div>-->
            <!--&lt;!&ndash;Title&ndash;&gt;-->
            <!--<h3><b>Subscribe</b> Our Newsletter!</h3>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-7 subscribe-input">-->
          <!--&lt;!&ndash; Subscribe form &ndash;&gt;-->
          <!--<div class="input-group">-->
            <!--&lt;!&ndash; Email input &ndash;&gt;-->
            <!--<input type="email" name="email" class="form-control" placeholder="Email" required>-->
            <!--<span class="btn-landing"><button class="btn-landing" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button></span>-->
          <!--</div>-->
          <!--&lt;!&ndash; Subscribe form end &ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!-- Subscribe end -->
    <!--</div>-->
    <!--</section>-->
    <!-- Latest posts section end -->
  </div>
</template>

<script>

export default {
  name: 'Home',
};
</script>

<style scoped>

  .white-landing {
    color: rgba(247, 250, 251, 1);

    -webkit-text-shadow: 0 0 35px rgba(0, 0, 0, .3);

    text-shadow: 0 0 35px rgba(0, 0, 0, .3);
  }

  .btn-landing {
    background-color: #263238;
  }
</style>

<style scoped src="../../assets/css/landing/bootstrap.min.css"></style>
<style scoped src="../../assets/css/landing/animations.css"></style>
<style scoped src="../../assets/css/landing/font-awesome.min.css"></style>
<style scoped src="../../assets/css/landing/animate.css"></style>
<style scoped src="../../assets/css/landing/lity.css"></style>
<style scoped src="../../assets/css/landing/style.css"></style>
<style scoped src="../../assets/css/landing/media-queries.css"></style>
<style scoped src="../../assets/css/landing/color/cyan.css"></style>

