<template>
  <div>

    <!-- Header -->
    <header id="header-1">
      <div class="background-img bckg-1"></div>
      <div class="header-masc">
        <!-- Background animation -->
        <div class="clouds">
          <div class="cloud-1 bckg-2"></div>
          <div class="cloud-2 bckg-3"></div>
        </div>
        <!-- Background animation end -->
        <!-- Social icons -->
        <div class="social-icons">
          <ul>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://t.me/joinchat/AAAAAE_Dh5q_ZUROdQDSSw" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <!-- Social icons end -->
        <!-- Background animation end -->
        <div class="container header-container">
          <div class="row">
            <div class="col-md-8 col-sm-12 main-title">
              <div class="type-js headline">
                <!-- Main header title -->
                <h1 class="white-landing">5 Easy Steps <b> Registration</b></h1>
                <!-- Main header suptitle -->
                <h3 class="white-landing"><i>Follow the <span data-typer-targets="Images!,Instructions"></span></i></h3>
                <br>
                <h5 style="color: white; text-align: left;margin-bottom: 20px;font-weight: bold;">
                  1.Click the Hamburger Icon at your telegram app.
                  <br><br>
                  2.Click "Contacts".
                  <br><br>
                  3.Click the Plus icon(add new contact).
                  <br><br>
                  4.Add a contact  Number +1 315-288-6399 and approve.
                  <br><br>
                  5.Now you can go to Login Page.
                  <br><br>
                </h5>
                <!-- Appstore button -->
                <a href="/login" class="btn-landing dwnld-btn appstore"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Login</a>
                <!-- Playmarket button -->
                <a href="/" class="btn-landing dwnld-btn playmarket"><i class="fa fa-home" aria-hidden="true"></i>&nbsp; Home</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>
    <!-- Header end-->

  </div>
</template>

<script>
  export default {
    name: 'Register',
  };

</script>

<style scoped lang="scss">
  @media (max-width: 600px) {
    .navbar {
      padding-top: 0;
    }
  }

  .white-landing {
    color: rgba(247, 250, 251, 1);

    -webkit-text-shadow: 0 0 35px rgba(0, 0, 0, .3);

    text-shadow: 0 0 35px rgba(0, 0, 0, .3);
  }

  .btn-landing {
    background-color: #263238;
  }
</style>

<style scoped src="../../assets/css/landing/bootstrap.min.css"></style>
<style scoped src="../../assets/css/landing/animations.css"></style>
<style scoped src="../../assets/css/landing/font-awesome.min.css"></style>
<style scoped src="../../assets/css/landing/animate.css"></style>
<style scoped src="../../assets/css/landing/lity.css"></style>
<style scoped src="../../assets/css/landing/style.css"></style>
<style scoped src="../../assets/css/landing/media-queries.css"></style>
<style scoped src="../../assets/css/landing/color/cyan.css"></style>