<template>
  <v-app>
    <component v-bind:is="layout"></component>
  </v-app>
</template>

<script>
import lockr from 'lockr';

// import ;


// import LandingLayout from './layouts/Landing.vue';
import ClassicLayout from './layouts/Classic.vue';
import CompactLayout from './layouts/Compact.vue';
import ToolbarLayout from './layouts/Toolbar.vue';
import BoxedLayout from './layouts/Boxed.vue';

export default {
  components: {
    ClassicLayout,
    // LandingLayout,
    CompactLayout,
    ToolbarLayout,
    BoxedLayout,
  },

  data: () => ({
    dialog: false,
    drawer: null,
  }),

  computed: {
    layout() {
      return this.$store.getters.layout + '-layout';
    },
  },

  props: {
    source: String,
  },

  mounted() {
    if (true) {
      require('./assets/scss/classic-light_blue-pink.css');
    } else {
      require('./assets/scss/classic-light_blue-pink.css');
    }
  }
};
</script>

<style lang="scss">
  .clearfix {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

.radial-progress-container {
  margin-top: 20px;

  p {
    font-weight: bold;
  }
}

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.flex-wrapper-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-wrapper-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-wrapper-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-green {
  color: #7FD451;
}

.fw500 {
  font-weight: 500;
}

.fw-normal {
  font-weight: normal;
}

.title-line {
  background-color: #7FD451;
  p {
    text-transform: uppercase;
    color: #fff;
    padding: 15px 40px;
    margin-bottom: 0;
  }
}

.container-top-margin {
  padding-top: 55px;
}

.divider-40 {
  margin-top: 40px;
}

.strong-text {
  font-weight: bold;
  font-size: .75rem;
  line-height: 1;
}

.screen-height {
  min-height: calc(100vh - 68px - 65px - 54px);
}

.country-name, .dial-code {
  font-size: 14px;
  font-weight: normal;
}


/* custom dark menu backgraund */
.custom-menu-dark {
  background-color: #424242;
}
/* custom dark menu backgraund  End*/

//Media
@media (max-width: 600px) {
  .title-line {
    display: none;
  }

  .country-list {
    li {
      width: 288px;
    }
  }
}

.green {
  background-color: #7FD451 !important;
  border-color: #7FD451 !important;
}

.vue-simple-progress, .vue-simple-progress-bar {
  border-radius: 100px;
}

.info-box {
  .fw500 {
    font-size: 2em;
    margin-bottom: 5px;
  }
  .mdc-typography--caption {
    /*font-weight: 500;*/
    font-size: 15px;
    color: rgb(122,122,122);
  }
  .flex-wrapper-between {
    padding: 0 10px;
  }
}

.chip {
  min-width: 72px;
  border-radius: 0px !important;
}

// Variables
// ---------------------
$table-header-font-weight:      400;
$table-header-font-color:       #757575;

$table-cell-padding:            1.6rem;
$table-condensed-cell-padding:  $table-cell-padding/2;


$table-bg:                      #fff;
$table-bg-accent:               #f5f5f5;
$table-bg-hover:                rgba(0,0,0,.12);
$table-bg-active:               $table-bg-hover;
$table-border-color:            #e0e0e0;

//table
.table-responsive-v2 {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  td {
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    box-shadow: none;
  }
}

.table-data-width {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
}

@media screen and (max-width: 768px) {
  .table-data-width {
    max-width: none;
    span {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 150px;
    }
  }
}

/*responsive vertical*/
.table-responsive-vertical {
  @media screen and (max-width: 768px) {
    // Tighten up spacing
    > .table {
      margin-bottom: 0;
      background-color: #fafafa;
      > thead,
      > tfoot {
        display: none;
      }

      > tbody {
        display: block;

        > tr {
          display: block;
          border: 1px solid $table-border-color;
          //border: none;
          //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
          border-radius: 2px;
          margin-bottom: $table-cell-padding;

          > td {
            background-color: $table-bg;
            display: block;
            vertical-align: middle;
            text-align: right;
            height: auto;
            padding: 10px 15px;
            span.chip {
              margin: 0;
              height: 16px;
            }
          }
          > td[data-title]:before {
            content: attr(data-title);
            float: left;
            font-size: inherit;
            font-weight: $table-header-font-weight;
            color: $table-header-font-color;
          }
        }
      }
    }
  }
}
/*responsive vertical end*/

</style>
