<template>
  <div>
    <a style="display:none;" id="portal-stylesheet" href="../assets/scss/classic-light_blue-pink.css"></a>

    <loader />

    <div class="portal-wrapper">

      <div class="portal-wrapper__sidenav portal-wrapper__sidenav--classic mdc-theme--dark">
        <aside id="left-drawer" class="mdc-drawer mdc-drawer--persistent mdc-drawer--open mdc-drawer--portal-flex-content">
          <nav class="mdc-drawer__drawer" style="background-color: #424242">
            <side-menu />
          </nav>
        </aside>
      </div>

      <main class="portal-main">

        <top-toolbar />

        <div class="portal-main__content mdc-theme--background mdc-theme--text-primary-on-background">
          <router-view />
        </div>

        <footer-bar />
      </main>

      <!--<notification-side-nav />-->

    </div>
  </div>
</template>

<script>
import PaceProgress from 'pace-progress';

import { autoInit, drawer } from 'material-components-web';

import Loader from '../components/Base/Loader.vue';
import SideMenu from '../components/Base/SideMenu.vue';
import TopToolbar from '../components/Base/TopToolbar.vue';
import FooterBar from '../components/Base/Footer.vue';
import NotificationSideNav from '../components/Base/NotificationSideNav.vue';


export default {
  name: 'classic',

  components: {
    Loader,
    SideMenu,
    TopToolbar,
    FooterBar,
    NotificationSideNav,
  },

  mounted() {
    PaceProgress.start();
    autoInit();

    // Left Drawer.
    const leftDrawerEL = document.querySelector('#left-drawer');
    const mq = window.matchMedia('(min-width: 960px)');
    // Toolbar burger icon.
    const burgerIcon = document.querySelector('#portal-top-toolbar-burger-icon');
    // Sidemenu close icon.
    const closeIcon = document.querySelector('#portal-sidemenu-close-icon');

    // We change drawer type depending on device.
    let leftDrawer;

    if (mq.matches) {
      // Persistant drawer on desktop.
      leftDrawer = new drawer.MDCPersistentDrawer(leftDrawerEL);
    } else {
      try {
        // Temporary drawer on mobile.
        leftDrawerEL.classList.remove('mdc-drawer--persistent', 'mdc-drawer--open');
        leftDrawerEL.classList.add('mdc-drawer--temporary', 'mdc-drawer--closed');
        leftDrawer = new drawer.MDCTemporaryDrawer(leftDrawerEL);
        // Show menu
        burgerIcon.style.display = 'block';
      } catch (e) { }
    }

    // Toggle menu when burger menu is clicked.
    burgerIcon.addEventListener('click', (e) => {
      leftDrawer.open = !leftDrawer.open;
      e.preventDefault();
    });

    // Toggle menu when close sidemenu icon is clicked.
    closeIcon.addEventListener('click', (e) => {
      leftDrawer.open = !leftDrawer.open;
      e.preventDefault();
    });

    // Watch for changes to the drawer and show and hide burger icon.
    leftDrawerEL.addEventListener('MDCPersistentDrawer:open', () => {
      burgerIcon.style.display = 'none';
    });
    leftDrawerEL.addEventListener('MDCPersistentDrawer:close', () => {
      burgerIcon.style.display = 'block';
    });

    const tfRoot = document.querySelectorAll('.portal-navigation-list__item');
    for (let i = 0; i < tfRoot.length; i++) {
      tfRoot[i].addEventListener('click', function(e) {
        if (/#/.test(this.href)) {
          e.preventDefault();
          this.classList.toggle('portal-navigation-list__item--open');
        }
      });
    }
    // Opens the menu dropdown when page is loaded depending on the page you are on.
    // const activatedParentSibling = document.querySelector('.mdc-list-item--activated').parentElement.previousElementSibling;
    // if (activatedParentSibling) {
    //   activatedParentSibling.classList.add('portal-navigation-list__item--open');
    // }
  },
};
</script>

<style lang="stylus">
  @import '~vuetify/src/stylus/components/_grid.styl';
  @import '~vuetify/src/stylus/components/_dividers.styl';
  @import '~vuetify/src/stylus/components/_snackbars.styl';
  @import '~vuetify/src/stylus/components/_alerts.styl';
  @import '~vuetify/src/stylus/components/_pagination.styl';
  @import '~vuetify/src/stylus/components/_tables.styl';
  @import '~vuetify/src/stylus/components/_chips.styl';
  @import '~vuetify/src/stylus/components/_buttons.styl';
  @import '~vuetify/src/stylus/components/_dialogs.styl';
  @import '~vuetify/src/stylus/components/_cards.styl';
  @import '~vuetify/src/stylus/components/_overlay.styl';
  @import '~vuetify/src/stylus/components/_text-fields.styl';
  @import '~vuetify/src/stylus/components/_input-groups.styl';
  @import '~vuetify/src/stylus/components/_select.styl';
  @import '~vuetify/src/stylus/components/_selection-controls.styl';
  @import '~vuetify/src/stylus/components/_lists.styl';
  @import '~vuetify/src/stylus/components/_menus.styl';
  @import '~vuetify/src/stylus/components/_progress-linear.styl';
  @import '~vuetify/src/stylus/components/_data-table.styl';
  /*@import '~vuetify/src/stylus/components/_subheaders.styl';*/
  @import '~vuetify/src/stylus/trumps/_spacing.styl';
  @import '~vuetify/src/stylus/trumps/_display.styl';
  @import '~vuetify/src/stylus/trumps/_text.styl';
  @import '~vuetify/src/stylus/generic/_bootstrap.styl';
  @import '~vuetify/src/stylus/components/_tooltips.styl';
  @import '~vuetify/src/stylus/components/_radio-group.styl';
</style>

<style lang="scss">
  button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
  }

  /* Dashboard */
  .title-line {
    background-color: #7FD451;
    p {
      text-transform: uppercase;
      color: #fff;
      padding: 15px 40px;
      margin-bottom: 0;
    }
  }

  .divider-40 {
    margin-top: 40px;
  }
</style>