<template>
  <div>
    <a style="display:none;" id="portal-stylesheet" href="../assets/scss/classic-light_blue-pink.css"></a>

    <loader />

    <div class="portal-wrapper">

      <div class="portal-wrapper__sidenav portal-wrapper__sidenav--compact mdc-theme--dark">
        <aside id="left-drawer" class="mdc-drawer mdc-drawer--persistent mdc-drawer--open mdc-drawer--portal-flex-content">
          <nav class="mdc-drawer__drawer" style="background-color: #424242">
            <compact-side-menu />
          </nav>
        </aside>
      </div>

      <main class="portal-main">

        <top-toolbar />

        <div class="portal-main__content mdc-theme--background mdc-theme--text-primary-on-background">
          <router-view />
        </div>

        <footer-bar />
      </main>

      <!--<notification-side-nav />-->

    </div>
  </div>
</template>

<script>
import PaceProgress from 'pace-progress';

import { autoInit, drawer, menu } from 'material-components-web';

import Loader from '../components/Base/Loader.vue';
import CompactSideMenu from '../components/Base/CompactSideMenu.vue';
import TopToolbar from '../components/Base/TopToolbar.vue';
import FooterBar from '../components/Base/Footer.vue';
import NotificationSideNav from '../components/Base/NotificationSideNav.vue';


export default {
  name: 'compact',

  components: {
    Loader,
    CompactSideMenu,
    TopToolbar,
    FooterBar,
    NotificationSideNav,
  },

  mounted() {
    PaceProgress.start();
    autoInit();

    const menuElements = document.querySelectorAll('.mdc-menu-anchor');

    menuElements.forEach((el, index) => {
      const menuEl = el.querySelector('.portal-dropdown-menu');
      if (menuEl !== null) {
        const menu = new menu.MDCMenu(menuEl);

        const menuButtonEl = el.querySelector('.portal-menu-button');
        menuButtonEl.addEventListener('click', function(e) {
          menu.open = !menu.open;
          e.preventDefault();
        });
        // Set Anchor Corner to Bottom End
        menu.setAnchorCorner(menu.MDCMenuFoundation.Corner.BOTTOM_START);
      }
    });

    // Left Drawer
    const leftDrawerEL = document.querySelector('#left-drawer');
    const mq = window.matchMedia('(min-width: 960px)');
    // Toolbar burger icon
    const burgerIcon = document.querySelector('#portal-top-toolbar-burger-icon');
    // Sidemenu close icon
    const closeIcon = document.querySelector('#portal-sidemenu-close-icon');

    let leftDrawer;
    // We change drawer type depending on device.
    if (mq.matches) {
      // Persistant drawer on desktop.
      leftDrawer = new drawer.MDCPersistentDrawer(leftDrawerEL);
    } else {
      // Temporary drawer on mobile.
      leftDrawerEL.classList.remove('mdc-drawer--persistent', 'mdc-drawer--open');
      leftDrawerEL.classList.add('mdc-drawer--temporary', 'mdc-drawer--closed');
      leftDrawer = new drawer.MDCTemporaryDrawer(leftDrawerEL);
      // Show menu
      burgerIcon.style.display = 'block';
    }

    // Toggle menu when burger menu is clicked
    burgerIcon.addEventListener('click', function(e) {
      leftDrawer.open = !leftDrawer.open;
      e.preventDefault();
    });

    // Toggle menu when close sidemenu icon is clicked
    closeIcon.addEventListener('click', function(e) {
      leftDrawer.open = !leftDrawer.open;
      e.preventDefault();
    });

    // Watch for changes to the drawer and show and hide burger icon.
    leftDrawerEL.addEventListener('MDCPersistentDrawer:open', function() {
      burgerIcon.style.display = 'none'
    });
    leftDrawerEL.addEventListener('MDCPersistentDrawer:close', function() {
      burgerIcon.style.display = 'block'
    });
  },
};
</script>

<style lang="scss">
  button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
  }

  /* Dashboard */
  .title-line {
    background-color: #7FD451;
    p {
      text-transform: uppercase;
      color: #fff;
      padding: 15px 40px;
      margin-bottom: 0;
    }
  }

  .divider-40 {
    margin-top: 40px;
  }
</style>