<template>
  <div>
    <a style="display:none;" id="portal-stylesheet" href="../assets/scss/classic-light_blue-pink.css"></a>

    <loader />

    <div class="portal-wrapper">

      <div class="portal-wrapper__sidenav mdc-theme--dark">
        <aside id="left-drawer" class="mdc-drawer mdc-drawer--temporary mdc-drawer--closed mdc-drawer--portal-flex-content">
          <nav class="mdc-drawer__drawer" style="background-color: #424242">
            <side-menu />
          </nav>
        </aside>
      </div>

      <main class="portal-main">

        <top-toolbar />
        <top-header />

        <div class="portal-main__content mdc-theme--background mdc-theme--text-primary-on-background">
          <router-view />
        </div>

        <footer-bar />
      </main>

      <!--<notification-side-nav />-->

    </div>
  </div>
</template>

<script>
  import PaceProgress from 'pace-progress';

  import { autoInit, drawer, menu } from 'material-components-web';

  import Loader from '../components/Base/Loader.vue';
  import SideMenu from '../components/Base/SideMenu.vue';
  import TopToolbar from '../components/Base/TopToolbar.vue';
  import TopHeader from '../components/Base/TopHeader';
  import FooterBar from '../components/Base/Footer.vue';
  import NotificationSideNav from '../components/Base/NotificationSideNav.vue';


  export default {
    name: 'classic',

    components: {
      Loader,
      SideMenu,
      TopToolbar,
      FooterBar,
      NotificationSideNav,
      TopHeader,
    },

    mounted() {
      PaceProgress.start();
      autoInit();

      // Left Drawer
      const leftDrawerEL = document.querySelector('#left-drawer');
      // Toolbar burger icon
      const burgerIcon = document.querySelector('#portal-top-toolbar-burger-icon');
      // Sidemenu close icon
      const closeIcon = document.querySelector('#portal-sidemenu-close-icon');
      // Left drawer
      const leftDrawer = new drawer.MDCTemporaryDrawer(leftDrawerEL);

      // Setting up menu items on toolbar menu
      const toolbarDashboardMenuEl = document.querySelector('#portal-toolbar-menu-dashboard');
      if (toolbarDashboardMenuEl !== null) {
        const toolbarDashboardMenu = new menu.MDCMenu(toolbarDashboardMenuEl);
        document.querySelector('#portal-toolbar-menu-dashboard-button').addEventListener('click', function() {
          toolbarDashboardMenu.open = !toolbarDashboardMenu.open;
        });
        // Set Anchor Corner to Bottom End
        toolbarDashboardMenu.setAnchorCorner(menu.MDCMenuFoundation.Corner.BOTTOM_START);
      }
      const toolbarAppsMenuEl = document.querySelector('#portal-toolbar-menu-apps');
      if (toolbarAppsMenuEl !== null) {
        const toolbarAppsMenu = new menu.MDCMenu(toolbarAppsMenuEl);
        document.querySelector('#portal-toolbar-menu-apps-button').addEventListener('click', function() {
          toolbarAppsMenu.open = !toolbarAppsMenu.open;
        });
        // Set Anchor Corner to Bottom End
        toolbarAppsMenu.setAnchorCorner(menu.MDCMenuFoundation.Corner.BOTTOM_START);
      }
      const toolbarFormControlsMenuEl = document.querySelector('#portal-toolbar-menu-form-controls');
      if (toolbarFormControlsMenuEl !== null) {
        const toolbarFormControlsMenu = new menu.MDCMenu(toolbarFormControlsMenuEl);
        document.querySelector('#portal-toolbar-menu-form-controls-button').addEventListener('click', function() {
          toolbarFormControlsMenu.open = !toolbarFormControlsMenu.open;
        });
        // Set Anchor Corner to Bottom End
        toolbarFormControlsMenu.setAnchorCorner(menu.MDCMenuFoundation.Corner.BOTTOM_START);
      }
      const toolbarLayoutMenuEl = document.querySelector('#portal-toolbar-menu-layout');
      if (toolbarLayoutMenuEl !== null) {
        const toolbarLayoutMenu = new menu.MDCMenu(toolbarLayoutMenuEl);
        document.querySelector('#portal-toolbar-menu-layout-button').addEventListener('click', function() {
          toolbarLayoutMenu.open = !toolbarLayoutMenu.open;
        });
        // Set Anchor Corner to Bottom End
        toolbarLayoutMenu.setAnchorCorner(menu.MDCMenuFoundation.Corner.BOTTOM_START);
      }
      const toolbarPopupsMenuEl = document.querySelector('#portal-toolbar-menu-popups');
      if (toolbarPopupsMenuEl !== null) {
        const toolbarPopupsMenu = new menu.MDCMenu(toolbarPopupsMenuEl);
        document.querySelector('#portal-toolbar-menu-popups-button').addEventListener('click', function() {
          toolbarPopupsMenu.open = !toolbarPopupsMenu.open;
        });
        // Set Anchor Corner to Bottom End
        toolbarPopupsMenu.setAnchorCorner(menu.MDCMenuFoundation.Corner.BOTTOM_START);
      }

      // Toggle menu when burger menu is clicked
      burgerIcon.addEventListener('click', function(e) {
        leftDrawer.open = !leftDrawer.open;
        e.preventDefault();
      });

      // Toggle menu when close sidemenu icon is clicked
      closeIcon.addEventListener('click', function(e) {
        leftDrawer.open = !leftDrawer.open;
        e.preventDefault();
      });

      const tfRoot = document.querySelectorAll('.portal-navigation-list__item');
      for (let i = 0; i < tfRoot.length; i++) {
        tfRoot[i].addEventListener('click', function(e) {
          if (/#/.test(this.href)) {
            e.preventDefault();
            this.classList.toggle('portal-navigation-list__item--open');
          }
        });
      }
    },
  };
</script>

<style lang="scss">
  button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
  }

  /* Dashboard */
  .title-line {
    background-color: #7FD451;
    p {
      text-transform: uppercase;
      color: #fff;
      padding: 15px 40px;
      margin-bottom: 0;
    }
  }

  .divider-40 {
    margin-top: 40px;
  }
</style>